<div class="about-team-slide">
  <picture class="about-team-slide-picture">
    <source
      srcset="./img/about/team-1--mobile.webp"
      type="image/webp"
      media="(max-width: 991.98px)">
    <source
      srcset="./img/about/team-1--mobile.jpg"
      type="image/jpeg"
      media="(max-width: 991.98px)">

    <source srcset="./img/about/team-1.webp" type="image/webp">
    <img loading="lazy" src="./img/about/team-1.jpg" class="image" width="313" height="438" alt="Картинка">
  </picture>
  <div class="about-team-slide-info">
    <h3 class="about-team-slide-title">
      Сергей Чабан
    </h3>
    <p class="about-team-slide-desc">
      Менеджер по работе с клиентом
    </p>
  </div>
</div>
