<article class="portfolio-page-card">
  <a href="./img/portfolio/@image.webp" data-fancybox="portfolio-page-card" class="stretched-link"></a>

  <span class="portfolio-page-card-bg" style="background-image: url(./img/portfolio/@image.webp);"></span>
  <span class="portfolio-page-card-hover">
    <span class="icon">
      <svg>
        <use xlink:href="img/icons/search.svg#svg-search"></use>
      </svg>
    </span>
  </span>

  <div class="portfolio-page-card-info">
    <h3 class="portfolio-page-card-title">
      Макет пилотируемого космическгого корабля союз 26
    </h3>

    <div class="portfolio-page-card-detail">
      <ul class="list-reset portfolio-page-card-list">
        <li>
          Маштаб: 1:10
        </li>
        <li>
          Размеры 1000 х 1000 х 1000 мм
        </li>
        <li>
          Кол-во: 100 шт.
        </li>
        <li>
          Материалы: PETG пластик
        </li>
        <li>
          Сроки производства: 20 дней
        </li>
      </ul>

      <ul class="list-reset portfolio-page-card-address">
        <li>
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/shop.svg#svg-shop"></use>
            </svg>
          </span>

          ТРЦ «Кунево Плаза»
        </li>
        <li>
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/location.svg#svg-location"></use>
            </svg>
          </span>

          г.Москва
        </li>
      </ul>
    </div>

    <div class="portfolio-page-card-task">
      <h4>
        Задача
      </h4>

      <p>
        Поставить большую уличную новогоднюю ель с интересным индивидуальным оформлением
      </p>
    </div>

    <div class="portfolio-page-card-btn">
      <button type="button" class="btn btn-lg btn-outline-primary">
        Подробнее
      </button>
    </div>
  </div>
</article>
