<div class="review-blank-card">
  <a href="./img/review/@image.webp" data-fancybox="review-blank-tab" class="stretched-link"></a>

  <span class="review-blank-card-hover">
    <span class="icon">
      <svg>
        <use xlink:href="img/icons/search.svg#svg-search"></use>
      </svg>
    </span>
  </span>
  <picture>
    <source srcset="./img/review/@image.webp" type="image/webp">
    <img loading="lazy" src="./img/review/@image.jpg" class="image" width="193" height="265" alt="Картинка">
  </picture>
</div>
