<div class="service-materials-item"
  data-materials-item-id="@id">
  <div class="service-materials-item-content">
    <picture class="service-materials-item-picture">
      <source srcset="./img/service/material-1-1.webp" type="image/webp">
      <img loading="lazy" src="./img/service/material-1-1.jpg" class="image" width="360" height="230" alt="Картинка">
    </picture>

    <div class="service-materials-item-info">
      <h3 class="service-materials-item-title">
        @title
      </h3>
      <p class="service-materials-item-subtitle">
        (Технология печати: <a href="#" class="btn">FDM/FFF</a>)
      </p>

      <div class="service-materials-item-detail">
        от <span>9</span> руб. за см3
      </div>

      <div class="service-materials-item-prop">
        <a href="#" class="btn service-materials-item-link">
          Свойства материала
        </a>
      </div>

      <div class="service-materials-item-buttons">
        <button type="button" class="btn btn-base btn-outline-primary">
          Расчитать стоимость
        </button>
      </div>
    </div>
  </div>
  <p class="desc">
    @desc
  </p>
</div>
