<div class="service-materials-table">
  <div class="service-materials-item-navigation">
    <div class="swiper-button-prev">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
        </svg>
      </span>
    </div>
    <h3 class="service-materials-item-title">
      @title
    </h3>
    <div class="swiper-button-next">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
        </svg>
      </span>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th rowspan="2">
          Толщина(мм)
        </th>
        <th colspan="3">
          Стоимость фрезеровки, руб./мп
        </th>
      </tr>
      <tr>
        <th>
          До 500 м.п
        </th>
        <th>
          500-1000 м.п
        </th>
        <th>
          Более 1000 м.п
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          3 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          11 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          3 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          3 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          23 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          3 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          13 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
    </tbody>
  </table>

  <p class="service-materials-table-price">
    Цена за погонный метр реза (без стоимости материала)
  </p>

  <div class="service-materials-table-buttons">
    <button type="button" class="btn btn-base btn-outline-primary">
      Расчитать стоимость
    </button>
  </div>
</div>
