<div class="service-materials-table"
  data-materials-item-id="@id">
  <table>
    <thead>
      <tr>
        <th>
          Толщина материала
        </th>
        <th>
          До 500 м.п
        </th>
        <th>
          500-1000 м.п
        </th>
        <th>
          Более 1000 м.п
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Фанера 3 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          Фанера 11 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          Фанера 3 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          Фанера 3 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          Фанера 23 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          Фанера 3 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
      <tr>
        <td>
          Фанера 13 мм.
        </td>
        <td>
          13 р.
        </td>
        <td>
          10 р.
        </td>
        <td>
          11 р.
        </td>
      </tr>
    </tbody>
  </table>

  <p class="service-materials-table-price">
    Цена за погонный метр реза (без стоимости материала)
  </p>

  <div class="service-materials-table-buttons">
    <button type="button" class="btn btn-base btn-outline-primary">
      Расчитать стоимость
    </button>
  </div>
</div>
