<article class="work-vacancy-card">
  <div class="work-vacancy-card-header">
    <div class="work-vacancy-card-label">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/flame.svg#svg-flame"></use>
        </svg>
      </span>
      Горящая вакансия
    </div>
    <div class="work-vacancy-card-label">Из офиса</div>
    <div class="work-vacancy-card-label">Без опыта</div>
  </div>
  <h4 class="work-vacancy-card-title">
    @title
  </h4>
  <div class="work-vacancy-card-price">
    от 50 000 до 120 000 ₽ на руки
  </div>
  <div class="work-vacancy-card-footer">
    <a href="#" class="btn btn-lg2 btn-outline-primary">
      Откликнуться
    </a>
  </div>
</article>
