@use "mixins" as mixins;

.about-hero {
  position: relative;
  padding-bottom: 4rem;

  @include mixins.breakpoint-up(lg) {
    padding-bottom: 8.75rem;
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  .page-title {
    font-size: 2rem;
    margin-bottom: 2.5rem;

    @include mixins.breakpoint-up(lg) {
      font-size: 2.75rem;
      margin-bottom: 3rem;
      padding-left: 2.5rem;
    }
  }

  .section-header {
    margin-bottom: 0;
  }

  .text-collapse {
    margin-top: 2rem;
    margin-left: 2rem;

    @include mixins.breakpoint-up(lg) {
      margin-left: 2.5rem;
    }

    .section-subtitle {
      padding-left: 0;
    }
  }

  &-start {

    @include mixins.breakpoint-up(lg) {
      grid-column: span 2;
    }
  }

  &-end {

    @include mixins.breakpoint-up(lg) {
      grid-column: span 3;
      position: relative;
    }
  }

  &-picture {
    display: none;

    @include mixins.breakpoint-up(lg) {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .image {
      width: 100%;
      display: block;
    }
  }

  .yandex-review {

    @include mixins.breakpoint-down(lg) {
      display: none;
    }
  }
}

.about-figures {
  position: relative;
  background-color: var(--light-200);
  padding-block: 4rem;

  @include mixins.breakpoint-up(lg) {
    padding-block: 6.25rem;
  }

  &-desktop {

    @include mixins.breakpoint-down(md) {
      display: none;
    }
  }

  &-mobile {

    @include mixins.breakpoint-up(md) {
      display: none;
    }
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  .section-header {
    margin-bottom: 5rem;

    @include mixins.breakpoint-up(lg) {
      margin-bottom: 3rem;
    }

    @include mixins.breakpoint-up(xl) {
      grid-column: initial;
    }
  }

  &-main {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem 1.25rem;

    @include mixins.breakpoint-up(lg) {
      grid-column: -1 / 1;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 4rem 0;
    }

    @include mixins.breakpoint-up(xl) {
      grid-column: span 3;
    }
  }

  &-card {
    padding-inline: 2rem 0;
    word-wrap: break-word;

    @include mixins.breakpoint-up(lg) {
      padding-inline: 2rem 1rem;
      text-transform: uppercase;
    }

    &-title {
      font-size: 2.75rem;
      font-weight: 900;
      line-height: 1.2;
      color: #515162;
      position: relative;

      @include mixins.breakpoint-up(lg) {
        font-size: 3rem;
      }

      @include mixins.breakpoint-up(xl) {
        font-size: 4rem;
      }

      @include mixins.breakpoint-up(xxxxl) {
        font-size: 6rem;
      }

      &::before {
        content: '';
        width: 0.625rem;
        height: 3rem;
        display: block;
        background-color: var(--primary);
        position: absolute;
        top: .125em;
        left: -2rem;

        @include mixins.breakpoint-up(xl) {
          top: .25em;
        }
      }

      > span {
        font-size: 1.75rem;

        @include mixins.breakpoint-up(lg) {
          font-size: inherit;
        }
      }
    }

    &-desc {
      font-family: var(--font-family);
      font-size: .9375rem;
      font-weight: 900;
      line-height: 1.4;
    }

    &:nth-child(3) {

      @include mixins.breakpoint-down(lg) {
        display: none;
      }
    }

    &:nth-child(1) {

      @include mixins.breakpoint-down(lg) {
        order: -6;
      }
    }

    &:nth-child(2) {

      @include mixins.breakpoint-down(lg) {
        order: -7;
      }
    }

    &:nth-child(4) {

      @include mixins.breakpoint-down(lg) {
        order: -9;
      }
    }

    &:nth-child(6) {

      @include mixins.breakpoint-down(lg) {
        order: -5;
      }
    }

    &:nth-child(7) {

      @include mixins.breakpoint-down(lg) {
        order: -10;
      }
    }

    &:nth-child(8) {

      @include mixins.breakpoint-down(lg) {
        order: -8;
      }
    }
  }
}

.about-better {
  position: relative;
  padding-block: 2rem 4rem;

  @include mixins.breakpoint-up(lg) {
    padding-block: 0 8.75rem;
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  .section-header {

    @include mixins.breakpoint-up(lg) {
      grid-column: initial;
    }
  }

  .tab {
    display: none;

    @include mixins.breakpoint-up(lg) {
      display: block;
      grid-column: -1 / 1;
    }

    @include mixins.breakpoint-up(xxxxl) {
      grid-column: span 4;
    }

    &-nav {
      margin-inline: 0;
      padding-inline: 2.5rem;
    }
  }

  &-tab {
    padding-bottom: 2.5rem !important;

    @include mixins.breakpoint-up(lg) {
      width: 100%;
      display: grid;
      grid-template-columns: 40rem minmax(0, 1fr);
      gap: 2rem;
      padding-bottom: 0 !important;
    }

    @include mixins.breakpoint-up(xxl) {
      grid-template-columns: 48.75rem minmax(0, 1fr);
      gap: 5rem;
    }
  }

  &-swiper {
    position: relative;

    .swiper-navigation {
      right: auto;
      left: 0;
      bottom: 0;
      transform: initial;
      position: absolute;

      @include mixins.breakpoint-up(lg) {
        right: 0;
        left: auto;
      }

      @include mixins.breakpoint-down(lg) {
        background-color: var(--primary);
      }
    }
  }

  &-picture {

    &,
    .image {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &-end {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 2rem;

    @include mixins.breakpoint-up(lg) {
      gap: 2rem;
      margin-top: 0;
    }
  }

  &-title {
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-size: 1rem;

    li {

      > span {
        font-size: 0.9375rem;
        font-weight: 700;
      }
    }
  }

  .accordion {

    @include mixins.breakpoint-up(lg) {
      display: none;
    }

    &-item {

      &:first-child {

        @include mixins.breakpoint-down(lg) {
          border-top: 1px solid var(--dark-rgba-50);
        }
      }
    }

    &-button {
      --_icon-color: currentColor;
    }
  }

}

.about-team {
  background-color: var(--light-200);
  padding-block: 4rem;
  position: relative;

  @include mixins.breakpoint-up(lg) {
    padding-block: 6.25rem;
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  .section-header {

    @include mixins.breakpoint-up(xxxxl) {
      grid-column: initial;
    }

    @include mixins.breakpoint-down(lg) {
      margin-bottom: 3.75rem;
    }
  }

  .section-subtitle {

    @include mixins.breakpoint-down(lg) {
      margin-top: 2.5rem;
    }
  }

  &-swiper {
    position: relative;

    @include mixins.breakpoint-up(lg) {
      grid-column: -1 / 1;
    }

    @include mixins.breakpoint-up(xxxxl) {
      grid-column: span 4;
    }

    .swiper {

      @include mixins.breakpoint-up(lg) {
        padding-inline-start: 2.5rem;
      }

      @include mixins.breakpoint-up(xxxxl) {
        padding-inline-start: 0;
      }
    }

    .swiper-slide {
      width: 100%;
      height: auto;

      @include mixins.breakpoint-up(lg) {
        width: auto;
      }
    }

    .swiper-navigation {
      background-color: var(--primary);

      @include mixins.breakpoint-up(lg) {
        margin-top: 2rem;
        position: initial;
        transform: initial;
      }

      @include mixins.breakpoint-down(lg) {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  &-slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;

    @include mixins.breakpoint-up(lg) {
      width: 20rem;
      flex-direction: column;
      gap: .75rem;
    }

    &-picture {

      &,
      .image {
        width: 100%;
        display: block;
        aspect-ratio: 16 / 9;

        @include mixins.breakpoint-up(lg) {
          aspect-ratio: 9 / 12;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: .875rem;
      padding-left: 2.5rem;

      @include mixins.breakpoint-up(lg) {
        gap: 1rem;
        padding-left: 0;
      }
    }

    &-title {
      font-size: 1.125rem;
      font-weight: 900;
      text-transform: uppercase;
    }

    &-desc {
      font-size: .9375rem;
      line-height: 1.4;
      color: var(--primary);
    }
  }

  &-desc {
    font-size: 0.75rem;
    line-height: 1.4;
    margin-top: 2rem;

    @include mixins.breakpoint-up(lg) {
      display: none;
    }
  }
}

.about-callback {
  position: relative;
  padding-block: 4rem;

  @include mixins.breakpoint-up(lg) {
    padding-block: 8.75rem;
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  .section-header {
    margin-bottom: 1rem;

    @include mixins.breakpoint-up(lg) {
      padding-right: 1rem;
    }

    @include mixins.breakpoint-up(xxxxl) {
      grid-column: initial;
    }
  }

  .section-subtitle {

    @include mixins.breakpoint-up(lg) {
      padding-right: 1rem;
    }
  }

  &-main {

    @include mixins.breakpoint-up(lg) {
      grid-column: -1 / 1;
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &-info {

    @include mixins.breakpoint-up(lg) {
      grid-column: span 2;
    }

    @include mixins.breakpoint-up(xxxxl) {
      grid-column: initial;
    }
  }

  &-swiper {
    margin-top: 1rem;
    position: relative;

    @include mixins.breakpoint-up(lg) {
      margin-top: 0;
      grid-column: span 1;
    }

    @include mixins.breakpoint-up(xxxxl) {
      grid-column: span 2;
    }

    .swiper {
      height: 100%;
    }

    .swiper-slide {
      height: auto;
    }

    .swiper-navigation {
      left: auto;
      right: 0;
      bottom: 0;
      position: absolute;
      transform: initial;

      @include mixins.breakpoint-down(lg) {
        background-color: var(--primary);
      }
    }
  }

  &-slide {
    height: 100%;

    .image {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .form {
    max-width: 100%;
    width: 100%;
    margin-top: 3rem;

    @include mixins.breakpoint-up(lg) {
      grid-column: span 2;
      margin-top: 0;
      padding-inline: 2.5rem;
    }

    &-header {
      max-width: initial;
      margin-bottom: 2.5rem;

      .section-title {
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
      }
    }

    &-body,
    &-footer {
      flex-direction: column;
      align-items: stretch;
    }

    &-footer {
      gap: 2rem;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: .9375rem;

    @include mixins.breakpoint-up(lg) {
      font-size: 1rem;
    }

    &,
    &-title {

      @include mixins.breakpoint-up(lg) {
        padding-inline: 2.5rem 1rem;
      }
    }

    &-title {
      font-family: var(--font-family);
      font-size: 1rem;
      margin-block: 3rem 1.5rem;
    }

    li {
      position: relative;
      padding-left: 1.5rem;

      &::before {
        content: '';
        width: 0.625rem;
        height: 1.375rem;
        display: block;
        background-color: var(--primary);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.yandex-review {
  width: 100%;
  max-width: 26.5625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: 2.5rem;

  &-logo {
    width: 6.25rem;
    display: block;

    .image {
      width: 100%;
      display: block;
    }
  }

  &-value {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    font-family: var(--font-second);
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.4;
    color: var(--primary);
    margin-bottom: .75rem;

    .icon {
      --_size: 4rem;
    }
  }
}
