@use "mixins" as mixins;

.accordion {

  &,
  &-item {
    display: flex;
    flex-direction: column;
  }

  &-item {

    & + & {
      border-top: 1px solid var(--dark-rgba-50);
    }

    &:last-child {
      border-bottom: 1px solid var(--dark-rgba-50);
    }
  }

  &-button {
    --_fs: .9375rem;
    --_fw: 800;
    --_padding: 1.25rem 0;

    --_icon-size: 1rem;
    --_icon-color: var(--primary);

    justify-content: space-between;
    text-align: start;
    text-transform: uppercase;

    @include mixins.breakpoint-up(lg) {
      --_padding: 1.25rem 1.25rem 1.25rem 0;
      --_icon-size: 1.5rem;
    }

    &-icon {
      transform: rotateX(0deg);
      transition-property: transform;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
    }

    &.is-collapsed {
      --_color: var(--primary);

      .accordion-button-icon {
        transform: rotateX(180deg);
      }

      ~ .accordion-body {
        grid-template-rows: 1fr;
      }
    }
  }

  &-body {
    display: grid;
    grid-template-rows: 0fr;

    transition-property: grid-template-rows;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    > * {
      overflow: hidden;

      > * {
        padding-bottom: 1.25rem;
      }
    }
  }
}
