@use "mixins" as mixins;

.advantage {
  position: relative;

  > .container {
    padding-block: 2rem;

    @include mixins.breakpoint-up(lg) {
      padding-block: 8.75rem;
    }
  }

  .section-title {

    @include mixins.breakpoint-up(lg) {
      max-width: 45%;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 3rem;

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 2rem;
      margin-top: 4.5rem;
      padding-inline: 2.5rem;
    }

    @include mixins.breakpoint-up(xl) {
      gap: 4rem;
    }

    @include mixins.breakpoint-up(xxl) {
      gap: 6rem;
    }
  }

  &-item {
    --_width: 100%;

    font-family: var(--font-family);
    flex-direction: column;
    justify-content: stretch;
    gap: initial;
    text-align: start;

    @include mixins.breakpoint-down(lg) {
    }

    &-title {
      width: 100%;
      font-family: var(--font-second);
      font-size: 1rem;
      font-weight: 900;
      line-height: 1.4;
      text-transform: uppercase;
      border-top: 1px solid var(--dark-rgba-50);
      padding: 1.5rem 0 1.5rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      position: relative;

      @include mixins.breakpoint-up(lg) {
        margin-block: 3rem 2rem;
        border-top: none;
        padding: 0 0 0 1.5rem;
      }

      &::after {
        content: '';
        width: .625rem;
        height: 1.375rem;
        position: absolute;
        left: 0;
        top: 1.5rem;
        background-color: var(--primary);

        @include mixins.breakpoint-up(lg) {
          top: 0;
        }
      }

      .icon {

        @include mixins.breakpoint-up(lg) {
          display: none;
        }
      }
    }

    .collapse-body {
      width: 100%;
    }

    &:not(:last-child) {

      .desc {

        @include mixins.breakpoint-down(lg) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  &-image {
    height: 21.25rem;
    display: block;

    @include mixins.breakpoint-down(lg) {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 3;
      margin-bottom: 1rem;
    }
  }
}
