@use "mixins" as mixins;

.collapse {

  &-button {

    &-icon {

      @include mixins.breakpoint-down(lg) {
        transition-property: transform;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
      }
    }

    &.is-collapsed {

      .collapse-body {

        @include mixins.breakpoint-down(lg) {
          grid-template-rows: 1fr;
        }
      }

      .collapse-button-icon {
        transform: rotateX(180deg);
      }
    }
  }

  &-body {

    @include mixins.breakpoint-down(lg) {
      display: grid;
      grid-template-rows: 0fr;

      transition-property: grid-template-rows;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
    }

    > div {

      @include mixins.breakpoint-down(lg) {
        overflow: hidden;
      }
    }
  }
}

.text-collapse {

  &-body {

    > * {

      @include mixins.breakpoint-down(sm) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 14;
        overflow: hidden;
      }

      .text-collapse.is-collapsed > & {

        @include mixins.breakpoint-down(sm) {
          -webkit-line-clamp: none;
        }
      }
    }
  }

  &-btn {
    --_fs: .875rem;
    --_lh: 1.4;
    --_color: var(--primary);

    --_color-hover: var(--dark);

    --_color-active: var(--dark);

    font-family: var(--font-family);

    @include mixins.breakpoint-up(sm) {
      display: none;
    }
  }
}
