@use "../mixins" as mixins;

.form-check {
	--bs-form-check-bg: transparent;

  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1rem;
  line-height: 1.4;

	@include mixins.breakpoint-up(lg) {
		font-size: 1.25rem;
	}

  &,
	&-label,
	&-input {
		cursor: pointer;
	}

	&-input {
		flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    appearance: none;
		color: inherit;
    background-color: var(--bs-form-check-bg);
    border: 2px solid currentColor;
		border-radius: 0rem;
    color-adjust: exact;
    print-color-adjust: exact;

		&:checked {
      --bs-form-check-bg: var(--primary);

      border-color: var(--bs-form-check-bg);
		}
	}
}
