@use "mixins" as mixins;

.header {
  width: 100%;
  color: var(--light);
  background-color: var(--dark-rgba-90);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  transition-property: background-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    padding-block: 1.25rem;
    position: relative;
  }

  &-main,
  &-nav {
    flex: 1;
  }

  &-main {
    display: flex;
    align-items: center;
  }

  &-nav {
    order: -1;

    &-list {
      display: flex;
      gap: 2rem;
      justify-content: center;
      list-style: none;
      margin: 0;

      @include mixins.breakpoint-up(xl) {
        gap: 1.25rem;
      }

      @include mixins.breakpoint-up(xxl) {
        gap: 2rem;
      }

      @include mixins.breakpoint-up(xxxxxl) {
        gap: 3rem;
      }
    }

    &-item {

      @include mixins.breakpoint-up(xl) {
        display: flex;
        align-items: center;
      }
    }

    &-link {
      --_fs: 1rem;
      --_color: inherit;

      white-space: nowrap;

      @include mixins.breakpoint-up(xl) {
        --_fs: .875rem;
      }

      @include mixins.breakpoint-up(xxl) {
        --_fs: .9375rem;

        gap: .625rem;
      }

      @media (hover: hover) {

        &:is(:hover, :focus-visible) {
          text-shadow:
            .03125em  0   currentColor,
            -.03125em  0   currentColor,
            0    .03125em currentColor,
            0   -.03125em currentColor;
        }
      }
    }
  }

  &-end {
    display: none;

    @include mixins.breakpoint-up(xxxxl) {
      display: flex;
      flex-direction: row-reverse;
      gap: 1.25rem;
      margin-left: auto;
    }
  }

  .socials-list,
  .contacts-list-item {
    justify-content: flex-end;
  }

  .socials-list {
    margin-top: .25rem;
    align-items: flex-start;
  }

  .contacts-list {

    &-link {
      --_lh: inherit;
    }
  }

  .btn-menu {

    @include mixins.breakpoint-up(xl) {
      display: none;
    }
  }
}

.header--home {
  background-color: transparent;

  .header-end {

    @include mixins.breakpoint-up(xxxxl) {
      flex-direction: column;
      gap: .75rem;
    }
  }

  .socials-list {
    margin-top: 0;
    align-items: center;
  }
}

.header--sticky {
  background-color: var(--dark-rgba-90);
}
