@use "mixins" as mixins;

.hero {
  position: relative;

  .lines {
    --line-color: #606060;

    > * {
      opacity: 1;
    }
  }

  &-bg {

    &::after {
      background-color: var(--dark-rgba-80);
    }
  }

  > .container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: var(--light);
    padding-block: calc(var(--header-height, 0rem) + 2.5rem) 1.25rem;
    position: relative;
    z-index: 10;

    @include mixins.breakpoint-up(lg) {
      height: 100vh;
      max-height: 1008px;
      gap: 3.75rem;
      padding-block: calc(var(--header-height, 0rem) + 2.5rem) 5rem;

      @supports (height: 100dvh) {
        height: 100dvh;
      }
    }
  }

  &-title {
    max-width: 1200px;
  }

  &-desc {
    max-width: 680px;
  }

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;

    @include mixins.breakpoint-up(lg) {
      padding-left: 20%;
      gap: 1.5rem;
    }
  }

  &-info {
    display: grid;

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    &-number {
      font-size: 2.25rem;
      line-height: 1;
      color: var(--primary);
      position: relative;

      @include mixins.breakpoint-up(lg) {
        font-size: 2.8125rem;
      }

      span {
        font-size: 1.75rem;

        @include mixins.breakpoint-up(lg) {
          font-size: inherit;
        }
      }

      &::after {
        content: '';
        width: .625rem;
        height: 100%;
        display: block;
        background-color: currentColor;
        position: absolute;
        top: 0;
        right: calc(100% + .875rem);
        pointer-events: none;

        @include mixins.breakpoint-up(xl) {
          right: calc(100% + 1.625rem);
        }
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 1.25rem;
      padding-inline: calc(1.5rem + var(--container-offset)) var(--container-offset);
      margin-inline: calc(var(--container-offset) * -1);

      @include mixins.breakpoint-up(lg) {
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        gap: 1.5rem;
        margin-inline: 0;
        padding-block: 0;
        padding-inline: 1.5rem 0;
      }

      @include mixins.breakpoint-up(xl) {
        padding-inline: 2.25rem 0;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #606060;

        @include mixins.breakpoint-up(lg) {
          border-bottom: none;
        }
      }
    }

    &-desc {
      max-width: 8rem;
      font-size: .9375rem;

      @include mixins.breakpoint-up(lg) {
        max-width: 10rem;
      }
    }
  }

  &-desc {
    font-size: .9375rem;
    line-height: 1.4;

    @include mixins.breakpoint-up(lg) {
      font-size: 1.5rem;
    }

    &--desktop {

      @include mixins.breakpoint-up(lg) {
        display: none;
      }
    }
  }
}
