@use "mixins" as mixins;

.order {
  position: relative;

  .lines {

    > *:nth-child(3) {
      opacity: 0;
    }
  }

  > .container {
    padding-block: 2rem 4rem;

    @include mixins.breakpoint-up(lg) {
      padding-block: 8.75rem;
    }
  }

  &-body {
    display: grid;
    grid-template-columns: 100%;

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &-top {

    @include mixins.breakpoint-up(lg) {
      padding-right: .75rem;
    }

    &-picture {
      margin-inline: calc(var(--container-offset) * -1);
      margin-bottom: 2rem;

      @include mixins.breakpoint-up(lg) {
        display: none;
      }

      .image {
        width: 100%;
        display: block;
        aspect-ratio: 16 / 9;
        object-position: top;
      }

      .order-picture-name {
        text-align: end;
        margin-inline: var(--container-offset);
      }
    }

    .section-header {

      @include mixins.breakpoint-down(lg) {
        margin-bottom: 3rem;
      }
    }

    .section-title,
    .section-subtitle {

      @include mixins.breakpoint-down(xl) {
        padding-left: 2rem;
      }
    }

    .section-subtitle {
      margin-top: 1rem;

      @include mixins.breakpoint-up(lg) {
        margin-top: 3rem;
      }

      @include mixins.breakpoint-up(xxl) {
        margin-top: 4.5rem;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      font-size: .9375rem;

      @include mixins.breakpoint-up(lg) {
        margin-left: 1.75rem;
      }

      @include mixins.breakpoint-up(xl) {
        margin-left: 2.75rem;
      }

      li {
        display: flex;
        gap: 1.25rem;

        &::before {
          content: '';
          width: .375rem;
          height: 1.75rem;
          display: inline-block;
          flex-shrink: 0;
          background-color: var(--primary);
          transform: translateY(-.25em);
        }
      }
    }

    &-button {
      display: none;

      @include mixins.breakpoint-up(lg) {
        display: block;
        margin-top: 4rem;
      }

      .btn {

        @include mixins.breakpoint-up(lg) {
          min-width: 22.5rem;
        }
      }
    }
  }

  &-picture {
    display: flex;
    flex-direction: column;

    @include mixins.breakpoint-up(lg) {
      grid-column: span 2;
    }

    @include mixins.breakpoint-up(xxl) {
      grid-column: initial;
    }

    &-content,
    picture {
      display: flex;
      flex: 1;
    }

    &-content {
      flex-direction: column;
    }

    .image {
      width: 100%;
      display: block;
    }

    &-name {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.4;
      margin-top: 1.25rem;

      > span {
        display: block;
        font-size: .75rem;
        font-weight: 500;
      }
    }
  }

  &-logo {
    display: none;

    @include mixins.breakpoint-up(xxl) {
      display: flex;
      justify-content: center;
    }

    .image {

      @include mixins.breakpoint-up(lg) {
        width: 5.625rem;
      }
    }
  }

  &--help {

    .section-header {

      @include mixins.breakpoint-down(lg) {
        margin-bottom: 2rem;
      }
    }

    .section-subtitle {

      @include mixins.breakpoint-down(lg) {
        margin-top: 2rem;
      }
    }

    .order-top {

      @include mixins.breakpoint-up(lg) {
        grid-column: span 2;
      }

      @include mixins.breakpoint-up(xxl) {
        grid-column: 2 / 4;
      }

      ul {

        @include mixins.breakpoint-down(lg) {
          gap: 1rem;
        }
      }
    }

    .order-picture {
      display: none;

      @include mixins.breakpoint-up(lg) {
        display: flex;
        grid-column: span 2;
      }

      @include mixins.breakpoint-up(xl) {
        grid-column: initial;
      }

      &-name {

        @include mixins.breakpoint-up(lg) {
          text-align: end;
          padding-right: 1.5rem;
        }
      }
    }

    .order-logo {

      @include mixins.breakpoint-up(lg) {
        display: flex;
        justify-content: center;
      }
    }

    + .service-help {
      margin-top: 0;
    }
  }
}
