@use "mixins" as mixins;

.perform {
  position: relative;
  padding-block: 4rem 2rem;

  @include mixins.breakpoint-up(lg) {
    padding-block: 8.75rem;
  }

  .section-header {
    margin-bottom: 3.75rem;
  }

  .section-title {

    @include mixins.breakpoint-up(lg) {
      max-width: 40%;
    }
  }

  .tab {

    @include mixins.breakpoint-up(lg) {
      padding-inline: 2.5rem;
    }

    &-body {

      &-start {

        @include mixins.breakpoint-up(lg) {
          min-height: 34rem;
        }
      }
    }
  }

  &--modeling {

    .tab {

      &-nav {

        @include mixins.breakpoint-up(lg) {
          justify-content: initial;
        }

        &-item {
          flex: initial;

          &:not(:last-child) {
            @include mixins.breakpoint-up(xxxxxl) {
              padding-right: 8.75rem;
            }
          }
        }
      }

      &-body {

        &-start {
          min-height: unset;
        }
      }
    }
  }
}
