@use "mixins" as mixins;

.quality {
  position: relative;
  padding-block: 4rem;

  @include mixins.breakpoint-up(lg) {
    padding-block: 8.75rem 2.75rem;
  }

  &-bg {
    display: none;
    z-index: -1;

    @include mixins.breakpoint-up(lg) {
      display: block;
    }
  }

  > .container {
    display: grid;
    grid-template-columns: 100%;

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  .section-header {
    grid-column: -1 / 1;

    @include mixins.breakpoint-up(lg) {
      margin-bottom: 4rem;
    }

    @include mixins.breakpoint-up(xl) {
      grid-column: span 2;
    }

    @include mixins.breakpoint-up(xxl) {
      grid-column: span 1;
      margin-bottom: 0;
    }
  }

  .section-subtitle {

    @include mixins.breakpoint-up(lg) {
      max-width: 17.5rem;
      margin-top: 2rem;
    }
  }

  &-items {
    display: grid;
    grid-template-columns: 100%;
    grid-column: -1 / 1;
    row-gap: .75rem;

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      row-gap: 8.75rem;
    }

    @include mixins.breakpoint-up(xxl) {
      grid-column: span 3;
      row-gap: 12.5rem;
    }
  }

  &-item {
    --_padding: 1.25rem var(--container-offset);

    --_color-hover: var(--light);
    --_bg-hover: var(--primary-rgba-90);

    --_color-active: var(--light);
    --_bg-active: var(--primary-rgba-90);

    flex-direction: column;
    justify-content: initial;
    gap: initial;
    text-align: start;
    margin-inline: calc(var(--container-offset) * -1);

    @include mixins.breakpoint-up(lg) {
      --_padding: 1.25rem 2rem 5rem 1.5rem;

      margin-inline: 0;
    }

    &:hover {

      .desc {
        opacity: 1;
      }
    }

    .number {
      font-size: 2.75rem;
      line-height: 1.2;
    }

    &.is-collapsed {

      @include mixins.breakpoint-down(lg) {
        --_color: var(--light);
        --_bg: var(--primary-rgba-90);
      }
    }
  }

  &-top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 900;

    @include mixins.breakpoint-up(lg) {
      margin-bottom: 2.5rem;
    }
  }

  &-title {
    font-size: .9375rem;
    line-height: 1.4;
    text-transform: uppercase;
  }

  .desc {
    font-family: var(--font-family);
    font-size: .9375rem;
    line-height: 1.4;
    color: var(--light);
    margin-top: 2rem;

    @include mixins.breakpoint-up(lg) {
      margin-top: 0;
      opacity: 0;

      transition-property: opacity;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
    }

  }
}
