@use "mixins" as mixins;

.section {

  &-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
    }
  }

	&-header {
    margin-bottom: 2rem;
    grid-column: -1 / 1;

    @include mixins.breakpoint-up(lg) {
      grid-column: span 2;
    }
	}

  &-title,
  &-subtitle {
    padding-left: 2rem;

    @include mixins.breakpoint-up(lg) {
      padding-left: 2.5rem;
    }
  }

	&-title {
		font-size: 1.25rem;
		font-weight: 900;
		line-height: 1.3;
    position: relative;
		text-transform: uppercase;

    @include mixins.breakpoint-up(lg) {
      font-size: 1.5rem;
    }

    &::after {
      content: '';
      width: .625rem;
      height: 4.5rem;
      display: block;
      background-color: var(--primary);
      pointer-events: none;
      user-select: none;
      position: absolute;
      top: 0;
      left: 0;
    }

		+ .section-subtitle {
			margin-top: 1rem;
		}
	}

	&-subtitle {
    font-size: .9375rem;
    line-height: 1.4;

    @include mixins.breakpoint-up(lg) {
      font-size: 1rem;
    }
	}

  &-main {

    &:not(.is-visible) {

      > *:not(.section-more) {

        &:nth-child(n + 5) {

          @include mixins.breakpoint-down(sm) {
            display: none;
          }
        }
      }
    }
  }

  &-more {
    grid-column: -1 / 1;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;

    @include mixins.breakpoint-up(sm) {
      display: none;
    }
  }
}
