@use "mixins" as mixins;

.service {
  color: var(--light);
  background-color: var(--dark);
	position: relative;
  z-index: 1;

  .lines {
    --line-color: var(--light);
  }

  &-bg {

    > * {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      inset: 0;
      z-index: -1;
      opacity: 0;
      transition-property: opacity;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);

      &::after {
        content: '';
        background-color: var(--dark-rgba-80);
        position: absolute;
        inset: 0;
        z-index: -1;
      }

      &.is-show {
        opacity: 1;
      }
    }
  }

  > .container {
    padding-block: 3.75rem 1.25rem;

    @include mixins.breakpoint-up(lg) {
      padding-block: 2.5rem 0;
    }
  }

  .section-title {
    margin-bottom: 2rem;

    @include mixins.breakpoint-up(lg) {
      margin-bottom: 1.5rem;
      margin-left: 2.5rem;
      padding-left: 0;
    }

    &::after {

      @include mixins.breakpoint-up(lg) {
        display: none;
      }
    }
  }

  .desc {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 2.5rem;

    @include mixins.breakpoint-up(lg) {
      margin-left: 2.5rem;
      margin-bottom: 6.25rem;
    }
  }

  &-title {
    font-family: var(--font-second);
    font-size: 1.125rem;
    font-weight: 900;
    line-height: 1.3;
    text-transform: uppercase;
    padding-inline: 2.5rem 1rem;
    padding-block: 2.5rem;
    position: relative;
    pointer-events: none;

    transition-property: opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    @include mixins.breakpoint-up(lg) {
      margin-bottom: 2rem;
      padding-left: 1.5rem;
      padding-block: 0;
    }

    @include mixins.breakpoint-up(xl) {
      padding-left: 2rem;
    }

    @include mixins.breakpoint-up(xxxxl) {
      padding-left: 2.5rem;
    }

    > span {
      display: block;
      transition-property: transform;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);

      .service-item.is-active > & {

        @include mixins.breakpoint-up(xl) {
          width: 80%;
          transform: scale(1.25);
        }

        @include mixins.breakpoint-up(xxl) {
          transform: scale(1.33333) translateX(1.625em);
        }
      }
    }

    &::before {

      @include mixins.breakpoint-up(lg) {
        content: '';
        width: .625rem;
        height: 2.25rem;
        display: block;
        background-color: var(--primary);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        transition-property: opacity;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
      }

      .service-item.is-active > & {

        @include mixins.breakpoint-up(lg) {
          opacity: 0;
        }
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: 100%;

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &-item {

    &:not(:last-child) {

      .service-title {
        border-bottom: 1px solid var(--light-rgba-50);

        @include mixins.breakpoint-up(lg) {
          border-bottom: none;
        }
      }
    }

    &-close,
    &-link {
      --_color: inherit;

      --_color-hover: var(--light);

      --_color-active: var(--light);
    }

    &-close {
      position: absolute;
      top: .75rem;
      right: .75rem;

      @media (hover: hover) {
        display: none;
      }
    }

    &-link {
      --_width: 100%;
      --_fs: 1.25rem;
      --_fw: 400;
      --_padding: 0 2.5rem;

      justify-content: initial;
      text-align: start;
      position: relative;

      @include mixins.breakpoint-up(lg) {
        --_fs: 1rem;
        --_padding: 0 1.25rem;
      }

      @include mixins.breakpoint-up(xl) {
        --_fs: 1.125rem;
        --_padding: 0 1.75rem;
      }

      @include mixins.breakpoint-up(xxl) {
        --_fs: 1.25rem;
        --_padding: 0 2.5rem;
      }

      &::after {
        content: '';
        width: .625rem;
        height: 2rem;
        background-color: currentColor;
        position: absolute;
        top: 50%;
        left: .25rem;
        transform: translateY(-50%);
        opacity: 0;

        transition-property: opacity;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
      }

      &:is(:hover, :focus-visible) {

        &::after {
          opacity: 1;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding-block: 3.75rem;
      color: var(--light);
      background-color: var(--primary);
      text-transform: uppercase;
      opacity: 0;

      transition-property: opacity;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);

      @include mixins.breakpoint-up(lg) {
        width: 100%;
        gap: 3rem;
        padding-block: 2.5rem;
      }

      @include mixins.breakpoint-up(xxl) {
        gap: 4.5rem;
        padding-block: 3.75rem;
      }

      @include mixins.breakpoint-down(lg) {
        pointer-events: none;
        position: absolute;
        right: var(--container-offset);
        left: var(--container-offset);
        z-index: 1;
      }

      li {
        display: flex;
        align-items: center;
      }
    }

    &.is-active {

      ul {
        opacity: 1;

        @include mixins.breakpoint-down(lg) {
          pointer-events: auto;
        }
      }
    }
  }
}

.service-hero {
  position: relative;

  > .container {
    display: grid;

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &-start {
    display: flex;
    flex-direction: column;

    @include mixins.breakpoint-up(lg) {
      grid-column: span 3;
    }

    @include mixins.breakpoint-up(xl) {
      grid-column: span 2;
    }

    &-picture {

      @include mixins.breakpoint-up(lg) {
        display: none;
      }

      picture {
        display: block;
        margin-inline: calc(var(--container-offset) * -1);
      }
    }

    &-list {
      display: grid;
      row-gap: 3rem;
      font-size: .9375rem;
      margin-top: 3rem;

      @include mixins.breakpoint-up(sm) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @include mixins.breakpoint-up(lg) {
        row-gap: 1.5rem;
        font-size: 1rem;
        margin-top: auto;
      }

      &-item {
        padding-inline: 2.5rem 0;
        position: relative;

        @include mixins.breakpoint-up(lg) {
          padding-inline: 2.5rem 1.25rem;
        }

        &::before {
          content: '';
          width: .375rem;
          height: 1.75rem;
          display: block;
          background-color: var(--primary);
          position: absolute;
          top: -.25em;
          left: 0;
        }
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 3rem;

      @include mixins.breakpoint-up(lg) {
        gap: 2.5rem;
        margin-top: 2rem;
        margin-left: 2.5rem;
      }

      > p {
        font-family: var(--font-second);
        font-weight: 900;
        line-height: 1.3;
        text-transform: uppercase;
      }

      .btn {
        --_width: max-content;

        @include mixins.breakpoint-down(lg) {
          margin-inline: auto;
        }
      }
    }
  }

  &-end {

    @include mixins.breakpoint-up(lg) {
      grid-column: span 2;
    }

    @include mixins.breakpoint-up(xl) {
      grid-column: span 3;
    }

    picture {
      height: 100%;
      display: block;
      margin-right: 2.5rem;
    }

  }

  &-image {
    width: 100%;
    height: 100%;
    display: block;
    mask-image: linear-gradient(to left, black 50%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: 100%;
  }
}

.service-help {
  background-color: var(--light-200);
  position: relative;
  margin-top: 4rem;
  padding-block: 3.75rem 2.5rem;

  @include mixins.breakpoint-up(lg) {
    background-color: transparent;
    margin-top: unset;
    padding-block: 8.75rem;
  }

  + .perform {

    @include mixins.breakpoint-up(lg) {
      padding-top: 0;
    }
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    @include mixins.breakpoint-up(xxl) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &-bg {
    mix-blend-mode: darken;
    opacity: .12;
    user-select: none;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 43.125rem 33.125rem;
    background-position: calc(100% + 2.5rem) calc(50% + 5rem);
    position: absolute;
    inset: 0;

    @include mixins.breakpoint-up(sm) {
      background-size: cover;
      background-position: center;
    }

    @include mixins.breakpoint-up(lg) {
      display: none;
    }
  }

  &-start {

    @include mixins.breakpoint-up(lg) {
      grid-column: span 2;
      padding-top: 5rem;
      position: relative;
    }

    @include mixins.breakpoint-up(xl) {

      padding-top: 10rem;
    }

    @include mixins.breakpoint-up(xxl) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column: initial;
    }

    .section-header {

      @include mixins.breakpoint-up(xxl) {
        padding-left: 40%;
      }

      @include mixins.breakpoint-down(lg) {
        margin-bottom: 2.5rem;
      }
    }

    .section-title,
    .section-subtitle {

      @include mixins.breakpoint-up(xxl) {
        padding-left: 0;
      }
    }

    .section-title {

      &::after {

        @include mixins.breakpoint-up(xxl) {
          margin-left: -2.5rem;
        }
      }
    }

    .service-help-bg {
      display: none;
      background-size: contain;
      margin: -10rem;
      margin-left: 0;

      @include mixins.breakpoint-up(lg) {
        display: block;
        margin: -15rem;
        margin-left: 0;
      }

      @include mixins.breakpoint-up(xxl) {
        margin: -4rem;
        margin-left: 0;
      }
    }
  }

  &-end {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem .625rem;
    margin-inline: -.625rem;

    @include mixins.breakpoint-up(sm) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include mixins.breakpoint-up(lg) {
      grid-column: span 3;
      gap: initial;
      margin-inline: 0 2.5rem;
    }

    @include mixins.breakpoint-up(xl) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include mixins.breakpoint-up(xxl) {
      grid-column: initial;
    }
  }

  &-button {
    --_fs: 1rem;
    --_lh: 1.4;
    --_padding: .625rem .625rem 4rem;

    --_color-hover: var(--light);
    --_bg-hover: var(--primary-rgba-85);

    --_color-active: var(--light);
    --_bg-active: var(--primary-rgba-85);

    flex-direction: column;
    align-items: stretch;
    justify-content: initial;
    gap: .25rem;
    text-align: start;

    @include mixins.breakpoint-up(lg) {
      --_padding: 5rem .75rem 2.5rem 1.5rem;
    }

    @include mixins.breakpoint-up(xl) {
      --_padding: 10rem 1rem 5rem 2rem;
    }

    &-title {
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1.2;
    }

    &-subtitle {
      font-family: var(--font-family);
    }

    &:nth-child(n + 4) {

      @include mixins.breakpoint-up(lg) {
        margin-top: -2.5rem;
      }

      @include mixins.breakpoint-up(xl) {
        margin-top: 0;
      }
    }

    &:nth-child(n + 5) {

      @include mixins.breakpoint-up(xl) {
        margin-top: -5rem;
      }
    }

    &:hover {
      color: var(--_color-hover);
      background-color: var(--_bg-hover);
    }
  }

  &-bottom {
    grid-column: -1 / 1;
    display: flex;
    flex-direction: column;
    margin-inline: .625rem;

    @include mixins.breakpoint-up(sm) {
      display: none;
    }
  }

  &--scaning {

    .service-help-end {

      @include mixins.breakpoint-up(xl) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }

    .service-help-button {

      &:nth-child(n+4) {

        @include mixins.breakpoint-up(xl) {
          margin-top: -5rem;
        }
      }
    }
  }

  &--about {
    background-color: var(--light-200);

    @include mixins.breakpoint-up(lg) {
      padding-block: 6.25rem;
    }

    > .container {

      @include mixins.breakpoint-up(lg) {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
      }
    }

    .section-header {

      @include mixins.breakpoint-up(lg) {
        padding-right: 1rem;
      }

      @include mixins.breakpoint-up(xxl) {
        grid-column: 2 / 3;
        padding-inline: 2.5rem 1rem;
      }
    }

    .service-help-start {

      @include mixins.breakpoint-up(lg) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column: span 2;
      }
    }

    .service-help-end {

      @include mixins.breakpoint-up(lg) {
        grid-column: span 3;
        margin-right: 0;
      }

      @include mixins.breakpoint-up(xl) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      @include mixins.breakpoint-down(lg) {
        gap: 1.5rem;
        margin-inline: 0;
      }

      @include mixins.breakpoint-down(sm) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }

    .service-help-button {
      --_color-hover: var(--primary);
      --_padding: 0 0 0 2rem;
      --_bg-hover: transparent;
      --_color-active: var(--primary);
      --_bg-active: transparent;

      gap: .625rem;

      @include mixins.breakpoint-up(lg) {
        --_padding: 5rem .75rem 2.5rem 0;
      }

      @include mixins.breakpoint-up(xl) {
        --_padding: 10rem 1rem 5rem 0;
      }

      &-title {
        display: flex;
        align-items: center;
        gap: .625rem;

        &::before {
          content: '';
          width: 0.625rem;
          height: 100%;
          display: inline-block;
          flex-shrink: 0;
          background-color: var(--primary);
        }
      }

      &:nth-child(n+4) {

        @include mixins.breakpoint-up(xl) {
          margin-top: -5rem;
        }
      }
    }

    + .service-control {
      padding-block: 4rem;

      @include mixins.breakpoint-up(lg) {
        padding-block: 8.75rem;
      }
    }
  }

  + .service-onphoto {
    padding-top: 0;
  }
}

.service-catalog {
  position: relative;
  padding-block: 4rem 0;

  @include mixins.breakpoint-up(lg) {
    padding-block: 0;
  }

  > .container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .section-header {
    margin-bottom: 3rem;

    @include mixins.breakpoint-up(lg) {
      margin-bottom: 3.75rem;
    }
  }

  &-body {
    grid-column: -1 / 1;
    display: grid;
    gap: 2rem;
    margin-inline: 1.25rem;

    @include mixins.breakpoint-up(sm) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1.25rem;
    }

    @include mixins.breakpoint-up(md) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      margin-inline: .75rem;
    }

    @include mixins.breakpoint-up(xxl) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &-card {
    min-height: 17.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--light);
    padding: 1.25rem;
    position: relative;

    @include mixins.breakpoint-up(lg) {
      min-height: 13.75rem;
    }

    @include mixins.breakpoint-up(xxl) {
      padding: 2rem;
    }

    @include mixins.breakpoint-up(xxxxl) {
      padding: 2.5rem;
    }

    &-bg {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      user-select: none;
      pointer-events: none;
      position: absolute;
      inset: 0;
      z-index: -1;

      &::after {
        content: '';
        display: block;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        inset: 0;

        @media (hover: hover) {
          transition-property: background-color;
          transition-duration: var(--transition-duration);
          transition-timing-function: var(--transition-timing-function);
        }
      }
    }

    &-title {
      font-size: .9375rem;
      font-weight: 900;
      text-transform: uppercase;

      @include mixins.breakpoint-up(lg) {
        font-size: .75rem;
      }

      @include mixins.breakpoint-up(xl) {
        font-size: .9375rem;
      }
    }

    &-button {
      --_fs: .9375rem;
      --_fw: 800;
      --_color: var(--light);
      --_icon-size: .75rem;

      justify-content: initial;
      text-transform: uppercase;
      user-select: none;
      pointer-events: none;

      @media (hover: hover) {
        opacity: 0;
      }
    }

    .stretched-link {

      @media (hover: hover) {

        &:hover {

          ~ .service-catalog-card {

            &-bg {

              &::after {
                background-color: var(--primary-rgba-80);
              }
            }

            &-button {
              opacity: 1;
            }
          }
        }
      }
    }

    &:first-child {

      @include mixins.breakpoint-up(lg) {
        grid-row: span 2;
      }
    }

    &:nth-child(2) {

      @include mixins.breakpoint-up(lg) {
        grid-column: span 2;
      }

      @include mixins.breakpoint-up(xxxxl) {
        padding-left: 5rem;
      }
    }

    &:nth-child(8) {

      @include mixins.breakpoint-up(xxl) {
        grid-row: span 2;
      }
    }

    &:nth-child(10) {

      @include mixins.breakpoint-up(lg) {
        grid-row: span 2;
      }

      @include mixins.breakpoint-up(xxl) {
        grid-row: initial;
      }
    }

    &:nth-child(12) {

      @include mixins.breakpoint-up(lg) {
        grid-column: span 2;
      }

      @include mixins.breakpoint-up(xxl) {
        grid-column: initial;
      }
    }
  }

  &--padding {
    padding-block: 2rem 4rem;

    @include mixins.breakpoint-up(lg) {
      padding-block: 8.75rem;
    }
  }

  &--padding-b {
    padding-block: 2rem 4rem;

    @include mixins.breakpoint-up(lg) {
      padding-block: 0 8.75rem;
    }
  }

  &--modeling {

    .service-catalog-card {

      &:nth-child(7) {

        @include mixins.breakpoint-up(xxl) {
          grid-column: span 2;
        }

        @include mixins.breakpoint-up(xxxxl) {
          padding-left: 5rem;
        }
      }

      &:nth-child(8) {

        @include mixins.breakpoint-up(xxl) {
          grid-column: span 3;
          grid-row: initial;
        }

        @include mixins.breakpoint-up(xxxxl) {
          padding-left: 5rem;
        }
      }

      &:nth-child(10) {
        grid-row: initial;
      }
    }
  }

  &--engineering {

    .service-catalog-card {

      &:nth-child(4) {

        @include mixins.breakpoint-up(xxl) {
          grid-row: span 3;
        }
      }

      &:nth-child(8) {

        @include mixins.breakpoint-up(xxl) {
          grid-row: initial;
        }
      }

      &:nth-child(10) {
        grid-row: initial;

        @include mixins.breakpoint-up(xxl) {
          grid-column: span 2;
        }

        @include mixins.breakpoint-up(xxxxl) {
          padding-left: 5rem;
        }
      }
    }
  }

  &--casting {

    .service-catalog-card {

      &:nth-child(4),
      &:nth-child(6) {

        @include mixins.breakpoint-up(xxl) {
          grid-row: span 2;
        }
      }

      &:nth-child(8),
      &:nth-child(10) {
        grid-row: initial;
      }

      &:nth-child(10) {

        @include mixins.breakpoint-up(xxl) {
          grid-column: span 2;
        }

        @include mixins.breakpoint-up(xxxxl) {
          padding-left: 5rem;
        }
      }
    }
  }

  &--plastic {

    > .container {

      @include mixins.breakpoint-up(xxl) {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
      }
    }

    .section-header {
      @include mixins.breakpoint-up(xxl) {
        grid-column: span 1;
      }
    }

    .service-catalog-body {

      @include mixins.breakpoint-up(xxl) {
        grid-column: span 4;
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }

    .service-catalog-card {

      &:nth-child(1) {

        @include mixins.breakpoint-up(xxl) {
          grid-row: initial;
          grid-column: span 2;
        }

        @include mixins.breakpoint-up(xxxxl) {
          padding-left: 5rem;
        }
      }

      &:nth-child(2) {

        @include mixins.breakpoint-up(xxl) {
          grid-column: initial;
        }

        @include mixins.breakpoint-up(xxxxl) {
          padding-left: 2.5rem;
        }
      }

      &:nth-child(6) {

        @include mixins.breakpoint-up(xxl) {
          grid-column: span 2;
        }

        @include mixins.breakpoint-up(xxxxl) {
          padding-left: 5rem;
        }
      }
    }
  }

  &--master {

    .service-catalog-card {


      &:nth-child(6) {

        @include mixins.breakpoint-up(lg) {
          grid-row: span 2;
        }

        @include mixins.breakpoint-up(xxl) {
          grid-row: initial;
        }
      }

      &:nth-child(7) {

        @include mixins.breakpoint-up(lg) {
          grid-column: span 3;
        }

        @include mixins.breakpoint-up(xxl) {
          grid-column: span 2;
        }

        @include mixins.breakpoint-up(xxxxl) {
          padding-left: 5rem;
        }
      }
    }
  }
}

.service-layout {
  background-color: var(--light-200);
  position: relative;
  padding-block: 4rem;

  @include mixins.breakpoint-down(lg) {
    margin-top: 2rem;
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      align-content: start;
      align-items: start;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  .section-header {

    @include mixins.breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  .section-title {

    @include mixins.breakpoint-up(lg) {
      max-width: 37.5rem;
    }
  }

  .tab {
    display: contents;

    &-nav {

      @include mixins.breakpoint-down(lg) {
        justify-content: space-between;
      }

      &-header {
        align-self: center;
        grid-column: span 3;

        @include mixins.breakpoint-up(lg) {
          max-width: 46.5rem;
        }

        @include mixins.breakpoint-down(lg) {
          border-bottom: none;
        }
      }

      &-link {
        min-width: unset;
        justify-content: center;
        text-align: center;
      }
    }

    &-content {
      grid-column: -1 / 1;

      @include mixins.breakpoint-up(lg) {
        margin-inline: 2.5rem;
      }
    }

    &-body {

      &-picture {

        @include mixins.breakpoint-down(lg) {
         margin-inline: calc(var(--container-offset) * -1);
        }

        .image {
          width: 100%;
        }
      }

      &-end {

        @include mixins.breakpoint-up(lg) {
          max-width: 1036px;
          margin-block: -4rem 0;
        }
      }
    }
  }
}

.service-control {
  position: relative;

  @include mixins.breakpoint-down(lg) {
    padding-block: 2rem;
  }

  .section-header {

    @include mixins.breakpoint-up(lg) {
      grid-column: span 2;
    }

    @include mixins.breakpoint-up(xxxxl) {
      grid-column: initial;
    }
  }

  .tab {

    @include mixins.breakpoint-up(lg) {
      grid-column: -1 / 1;
      margin-inline: 2.5rem;
    }

    @include mixins.breakpoint-up(xxxxl) {
      grid-column: span 4;
      margin-inline: 0 2.5rem;
    }

    &-nav {

      @include mixins.breakpoint-up(lg) {
        max-width: 60rem;
        justify-content: space-between;
      }

      &-item {
        flex: initial;
      }

      &-link {
        min-width: unset;
      }
    }

    &-body {

      @include mixins.breakpoint-up(lg) {
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 4rem;
      }

      &-start {
        max-width: 26.25rem;
      }

      &-end {

        @include mixins.breakpoint-up(lg) {
          max-width: 50rem;
          margin: 0;
        }

        picture {
          height: 100%;
        }

        .image {
          height: 100%;
        }
      }
    }
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    &.desktop {

      @include mixins.breakpoint-down(lg) {
        display: none;
      }
    }

    &.mobile {

      @include mixins.breakpoint-up(lg) {
        display: none;
      }

      .tab-body {
        flex-direction: column-reverse;
        gap: 2rem;
        padding-top: 0;

        &-start {
          max-width: unset;
        }

        &-end {
          display: block;
        }
      }
    }
  }
}

.service-warranty {
  background-color: var(--light-200);
  padding-block: 4rem;
  position: relative;

  @include mixins.breakpoint-up(lg) {
    padding-block: 6.25rem;
  }

  .section-header {

    @include mixins.breakpoint-up(xxxxl) {
      grid-column: initial;
    }
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &-body {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      grid-column: -1 / 1;
    }

    @include mixins.breakpoint-up(xxxxl) {
      display: contents;
    }
  }

  &-picture {
    display: block;
    margin-bottom: 2rem;

    @include mixins.breakpoint-up(lg) {
      grid-column: span 3;
      margin-bottom: unset;
      position: relative;
      z-index: 5;
    }

    @include mixins.breakpoint-up(xxxxl) {
      grid-column: span 2;
    }

    .image {
      width: 100%;
      display: block;
      object-fit: contain;
    }
  }

  &-list,
  &-item {
    display: flex;
    flex-direction: column;
  }

  &-list {
    gap: 2rem;

    @include mixins.breakpoint-up(lg) {
      grid-column: span 2;
    }
  }

  &-item {
    gap: 1rem;
    padding-inline: 1.5rem 0;

    @include mixins.breakpoint-up(lg) {
      padding-inline: 1.5rem;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 900;
      position: relative;

      &::before {
        content: '';
        width: 0.625rem;
        display: block;
        background-color: var(--primary);
        position: absolute;
        top: 0;
        left: -1.5rem;
        bottom: 0;
      }
    }
  }
}

.service-visual {
  background-color: var(--light-200);
  padding-block: 4rem;
  position: relative;

  @include mixins.breakpoint-up(lg) {
    padding-block: 6.25rem;
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &-start {

    @include mixins.breakpoint-up(lg) {
      grid-column: span 3;
    }
  }

  &-header {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-bottom: 2rem;

    @include mixins.breakpoint-up(lg) {
      flex-direction: column;
      gap: 3.75rem;
      margin-left: 2.5rem;
      margin-bottom: 4rem;
    }
  }

  &-suptitle,
  &-title {
    text-transform: uppercase;
  }

  &-suptitle {
    font-family: var(--font-second);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.3;
    color: var(--primary);
  }

  &-title {
    font-size: 2.125rem;
    font-weight: 900;
    line-height: 1;

    @include mixins.breakpoint-up(lg) {
      font-size: 2.5rem;
    }

    @include mixins.breakpoint-up(xl) {
      font-size: 3rem;
    }

    @include mixins.breakpoint-up(xxl) {
      font-size: 3.75rem;
    }
  }

  &-picture {
    display: block;
    margin-inline: calc(var(--container-offset) * -1);

    @include mixins.breakpoint-up(lg) {
      margin-inline: unset;
    }

    .image {
      width: 100%;
      display: block;
    }
  }

  .form {
    margin-top: 3rem;

    @include mixins.breakpoint-up(lg) {
      margin-top: 5.75rem;
    }
  }
}

.service-complex {
  position: relative;
  padding-block: 4rem;

  @include mixins.breakpoint-up(lg) {
    padding-block: 8.75rem;
  }

  .section-header {
    margin-bottom: 5.75rem;
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  .tab {

    @include mixins.breakpoint-up(lg) {
      grid-column: -1 / 1;
      margin-inline: 2.5rem;
    }

    &-nav {
      justify-content: space-between;

      &-item {
        flex: initial;

        &:not(:last-child) {
          padding-right: 4rem;
        }
      }

      &-link {
        --_width: max-content;

        min-width: unset;
      }
    }

    &-body {

      @include mixins.breakpoint-up(lg) {
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 3rem;
      }

      @include mixins.breakpoint-up(xl) {
        gap: 4rem;
      }

      @include mixins.breakpoint-up(xxl) {
        gap: 5rem;
      }

      @include mixins.breakpoint-up(xxxxl) {
        gap: 8.75rem;
      }

      @include mixins.breakpoint-down(lg) {
        padding-top: 3rem;
      }

      &-start {

        @include mixins.breakpoint-up(lg) {
          max-width: 30rem;
        }

        @include mixins.breakpoint-up(xxl) {
          max-width: 40rem;
        }

        @include mixins.breakpoint-up(xxl) {
          max-width: 48.25rem;
        }
      }

      &-end {

        @include mixins.breakpoint-up(lg) {
          max-width: 666px;
          margin-block:-4rem  0;
        }

        .image {
          object-fit: contain;
        }
      }

      &-header {

        @include mixins.breakpoint-down(lg) {
          margin-bottom: 3rem;
        }
      }

      &-main {

        h4 {
          font-size: .75rem;
          font-weight: 900;
        }
      }

      &-picture {
        margin-inline: 0;

        @include mixins.breakpoint-down(lg) {
          margin-bottom: 2rem;
        }

        .image {
          width: 100%;
        }
      }

      &-footer {

        .btn {

          @include mixins.breakpoint-up(lg) {
            flex: initial;
          }
        }
      }
    }
  }
}

.service-sale {

  .service-visual-start {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  .service-visual-picture {
    max-width: 25rem;
    justify-self: center;
    margin-inline: 1.25rem;
    mix-blend-mode: darken;

    @include mixins.breakpoint-up(lg) {
      grid-column: span 2;
      margin-inline: 5rem;
    }
  }
}

.service-materials {
  position: relative;
  padding-block: 2rem;

  @include mixins.breakpoint-up(lg) {
    background-color: var(--light-200);
    padding-block: 6.25rem;
  }

  > .container {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--dark-rgba-30);

    @include mixins.breakpoint-up(lg) {
      padding-inline: 2.5rem 1.5rem;
    }

    @include mixins.breakpoint-up(xxl) {
      padding-inline: 2.5rem;
    }

    &-item {
      display: flex;

      & + & {
        border-top: 1px solid var(--dark-rgba-30);
      }
    }

    &-btn {
      --_fs: .9375rem;
      --_padding: 1.5rem 0;

      flex: 1;
      justify-content: space-between;
      text-align: start;
      text-transform: uppercase;
      position: relative;

      @include mixins.breakpoint-up(lg) {
        --_fs: .625rem;
      }

      @include mixins.breakpoint-up(xl) {
        --_fs: .75rem;
      }

      @include mixins.breakpoint-up(xxl) {
        --_fs: .875rem;
      }

      @include mixins.breakpoint-up(xxxxl) {
        --_fs: .9375rem;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%) rotate(-90deg);
      }

      @media (hover: hover) {

        &:is(:hover, :focus-visible) {
          text-shadow:
            .03125em  0   currentColor,
            -.03125em  0   currentColor,
            0    .03125em currentColor,
            0   -.03125em currentColor;
        }
      }

      &.is-active {
        text-shadow:
          .03125em  0   currentColor,
          -.03125em  0   currentColor,
          0    .03125em currentColor,
          0   -.03125em currentColor;
      }
    }
  }

  &-submenus .service-materials-menu,
  &-item,
  &-table,
  &-form {

    &:not(.is-open) {
      display: none;
    }
  }

  &-submenus {
    display: flex;
    flex-direction: column;

    .service-materials-menu {
      flex: 1;

      @include mixins.breakpoint-up(lg) {
        padding-inline-start: 1.5rem;
      }

      @include mixins.breakpoint-up(xxl) {
        padding-inline-start: 2.5rem;
      }
    }
  }

  &-items {

    @include mixins.breakpoint-up(lg) {
      grid-column: span 3;
      padding-inline: 1.5rem 2.5rem;
    }

    @include mixins.breakpoint-up(xxl) {
      padding-inline: 2.5rem;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &-picture {

      &,
      .image {
        width: 100%;
        display: block;
      }

      .image {
        min-height: 15rem;
      }
    }

    &-content {
      padding-block: .5rem 3rem;

      @include mixins.breakpoint-up(lg) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-block: 0;
      }
    }

    &-info {

      @include mixins.breakpoint-up(lg) {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        padding-left: 1.25rem;
      }
    }

    &-navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-block: 1rem 2rem;

      .swiper-button-next,
      .swiper-button-prev {
        min-height: unset;
        min-width: unset;
        height: unset;
        width: unset;
        color: var(--dark-color);

        .icon {
          --_size: 1.5rem;
        }
      }
    }

    &-title {
      font-family: var(--font-family);
      font-size: .9375rem;

      @include mixins.breakpoint-up(lg) {
        font-family: var(--font-second);
        font-weight: 900;
      }
    }

    &-subtitle {
      font-size: .9375rem;
      margin-block: 0 2rem;

      @include mixins.breakpoint-up(lg) {
        font-size: 1rem;
        margin-block: .25rem 0;
      }
    }

    &-detail {
      font-size: .9375rem;
      margin-block: 0 1rem;

      @include mixins.breakpoint-up(lg) {
        margin-block: 1.25rem 0;
      }

      span {
        font-family: var(--font-second);
        font-weight: 900;
        color: var(--primary);
      }
    }

    &-prop {

      @include mixins.breakpoint-up(lg) {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-block: 1rem;
      }
    }

    &-link {
      justify-content: start;
      text-align: start;
    }

    &-buttons {
      display: flex;
      flex-direction: column;

      @include mixins.breakpoint-up(lg) {
        display: block;
      }
    }
  }

  &-table {
    display: flex;
    flex-direction: column;

    table {
      border-collapse: collapse;
      border-spacing: 0;
      border-color: var(--light-450);

      th,
      td {
        border: 1px solid var(--light-450);
        text-align: start;
        padding: .25rem;

        @include mixins.breakpoint-up(lg) {
          padding: 1rem 2rem;
        }

        @include mixins.breakpoint-up(xxl) {
          padding: 1.25rem 2.5rem;
        }

        &:first-child {
          border-inline-start: none;
          padding-inline-start: 0;

          @include mixins.breakpoint-up(lg) {
            padding-inline-start: 1.5rem;
          }

          @include mixins.breakpoint-up(xxl) {
            padding-inline-start: 2rem;
          }
        }

        &:last-child {
          border-inline-end: none;
          padding-inline-end: 0;

          @include mixins.breakpoint-up(lg) {
            padding-inline-end: 1.5rem;
          }

          @include mixins.breakpoint-up(xxl) {
            padding-inline-end: 2rem;
          }
        }
      }

      thead {

        tr {

          &:first-child {

            > * {

              &:first-child {

                @include mixins.breakpoint-down(lg) {
                  width: 4rem;
                }
              }
            }
          }

          &:last-child {

            > * {

              &:first-child {

                @include mixins.breakpoint-down(lg) {
                  width: 22.5%;
                  padding-inline-start: .25rem;
                }
              }
            }
          }
        }
      }

      th {
        font-size: .75rem;

        @include mixins.breakpoint-up(lg) {
          font-size: .9375rem;
        }
      }

      td {
        font-size: .9375rem;

        @include mixins.breakpoint-up(lg) {
          font-size: 1rem;
        }
      }
    }

    &-price {
      font-size: 0.875rem;
      color: var(--primary);
      margin-block: 3.75rem 1.25rem;

      @include mixins.breakpoint-up(lg) {
        font-size: 0.9375rem;
        margin-block: 1.25rem;
      }

    }
  }

  &-form {

    @include mixins.breakpoint-up(lg) {
      grid-column: span 4;
      padding-inline: 2.5rem;
    }

    .form {
      max-width: unset;
      margin-inline: unset;
    }
  }

  &-desktop {
    display: none;

    @include mixins.breakpoint-up(lg) {
      grid-column: -1 / 1;
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &-mobile {

    @include mixins.breakpoint-up(lg) {
      display: none;
    }

    .collapse-button {
      justify-content: space-between;
      text-align: start;

      &.is-collapsed {
        color: var(--primary);

        ~ .collapse-body {

          @include mixins.breakpoint-down(lg) {
            grid-template-rows: 1fr;
          }
        }
      }
    }

    .collapse-body {

      .form {
        margin-top: .75rem;
      }

      .service-materials-table {
        display: flex;
        margin-bottom: 2rem;
      }
    }
  }
}

.service-ontime {
  position: relative;
  padding-block: 4rem 0;

  @include mixins.breakpoint-up(lg) {
    padding-block: 8.75rem 0;
  }

  .section-header {
    display: none;

    @include mixins.breakpoint-up(lg) {
      max-width: 51.5rem;
      display: block;
      margin: 0;
    }
  }

  .section-title {

    @include mixins.breakpoint-up(lg) {
      font-size: 1.125rem;
    }

    &::after {
      width: 0.375rem;
      height: 1.75rem;
    }
  }

  > .container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 2.5rem;

    @include mixins.breakpoint-up(lg) {
      gap: 3rem;
    }
  }

  &-info,
  &-prop {
    grid-column: -1 / 1;

    @include mixins.breakpoint-up(lg) {
      padding-inline: 2.5rem;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &-prop {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    @include mixins.breakpoint-up(lg) {
      display: none;
    }

    &-title {
      font-size: .9375rem;
      font-weight: 900;
    }

    &-list {
      display: flex;
      flex-direction: column;
      font-size: .9375rem;
    }

    &-item {
      display: grid;
      grid-template-columns: minmax(0, 1fr) 6.625rem;
      justify-content: space-between;
      gap: 1rem;
      padding-block: 1rem;

      & + & {
        border-top: 1px solid var(--light-200);
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .9375rem;
    line-height: 1.4;
  }

  &-item {
    display: flex;
    flex-wrap: wrap;
    gap: .25em;

    &-name {
      font-family: var(--font-second);
      font-weight: 900;
      text-transform: uppercase;
    }

    &-value {
      color: var(--primary);

      > span {
        font-family: var(--font-second);
        font-weight: 900;
      }
    }
  }
}

.service-onphoto {
  display: none;
  position: relative;
  padding-block: 4rem 0;

  @include mixins.breakpoint-up(lg) {
    display: block;
    padding-block: 8.75rem 0;
  }

  &-content {

    @include mixins.breakpoint-up(lg) {
      padding-inline: 2.5rem;
    }
  }
}

.service-items {
  position: relative;
  padding-block: 2rem;

  @include mixins.breakpoint-up(lg) {
    display: block;
    background-color: var(--light-200);
    padding-block: 6.25rem;
  }

  &-list {

    @include mixins.breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--dark-rgba-50);

    @include mixins.breakpoint-up(lg) {
      gap: 2rem;
      border-top: none;
      padding-inline: 1.25rem;
    }

    &:last-child {
      border-bottom: 1px solid var(--dark-rgba-50);

      @include mixins.breakpoint-up(lg) {
        border-bottom: none;
      }
    }

    &-picture {
      max-width: 16rem;
      margin-inline: auto;
      padding-inline: .625rem;

      @include mixins.breakpoint-up(lg) {
        max-width: initial;
        margin-inline: 0;
        padding-inline: 0;
        order: -1;
      }

      &,
      .image {
        display: block;
      }

      .image {
        width: 100%;
      }
    }

    &-title {
      --_fs: .9375rem;
      --_fw: 800;
      --_padding: 1.25rem 0;

      justify-content: space-between;
      text-align: start;
      text-transform: uppercase;

      @include mixins.breakpoint-up(lg) {
        --_padding: 0;

        justify-content: initial;
        text-transform: initial;
        pointer-events: none;
      }

      .icon {

        @include mixins.breakpoint-up(lg) {
          display: none;
        }
      }
    }

    &-content {
      padding: .625rem .625rem 0;

      @include mixins.breakpoint-up(lg) {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        padding: 0;
      }

      @include mixins.breakpoint-down(lg) {
        order: -1;
      }
    }

    &-link {
      --_fs: 1rem;
      --_lh: 1.4;
      --_color: var(--primary);
      --_color-hover: var(--dark-color);
      --_color-active: var(--dark-color);

      font-family: var(--font-family);
      justify-content: initial;
      text-align: start;
      text-decoration: underline;
    }

    &-btn {
      margin-block: 3rem 2rem;

      @include mixins.breakpoint-up(lg) {
        display: none;
      }
    }

    .is-collapsed {

      ~ .collapse-body {

        @include mixins.breakpoint-down(lg) {
          grid-template-rows: 1fr;
        }
      }
    }

    .collapse-body {

      @include mixins.breakpoint-up(lg) {
        flex: 1;
      }

      > *,
      > * > * {

        @include mixins.breakpoint-up(lg) {
          height: 100%;
        }
      }

      > * {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.all-services {
  position: relative;
  padding-bottom: 4rem;

  @include mixins.breakpoint-up(lg) {
    padding-bottom: 8.75rem;
  }

  > .container,
  &-body {
    display: grid;
  }

  > .container {
    grid-template-columns: 100%;

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  .section-header {
    margin-block: 3.75rem 2rem;

    @include mixins.breakpoint-up(lg) {
      display: none;
    }
  }

  .section-title {

    &::after {
      height: 100%;
    }
  }

  &-title {
    font-size: 2.5rem;

    @include mixins.breakpoint-up(lg) {
      font-size: 1.25rem;
      margin-inline: 2.5rem 1rem;
    }

    @include mixins.breakpoint-up(xl) {
      font-size: 1.75rem;
    }

    @include mixins.breakpoint-up(xxl) {
      font-size: 2rem;
    }

    @include mixins.breakpoint-up(xxxxl) {
      font-size: 2.5rem;
    }
  }

  &-body {
    grid-column: span 4;
    grid-template-columns: 100%;
    gap: 2rem;

    @include mixins.breakpoint-up(sm) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include mixins.breakpoint-up(md) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 5rem 0rem;
    }
  }

  &-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @include mixins.breakpoint-up(lg) {
      padding-inline: 1rem;
    }

    @include mixins.breakpoint-up(xl) {
      padding-inline: 1.5rem;
    }

    @include mixins.breakpoint-up(xxl) {
      padding-inline: 2.5rem;
    }

    &-title {
      font-size: 1.125rem;
      font-weight: 900;
      color: var(--light);
      margin-top: .125em;
      margin-bottom: 2rem;
      position: absolute;
      top: 1.25rem;
      left: 1.25rem;
      z-index: 1;

      @include mixins.breakpoint-up(lg) {
        font-size: 1rem;
        color: inherit;
        position: static;
      }

      @include mixins.breakpoint-up(xl) {
        font-size: 1.125rem;
      }

      &::before {

        @include mixins.breakpoint-up(lg) {
          content: '';
          width: .375rem;
          height: 1.75rem;
          display: block;
          background-color: var(--primary);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    &-picture {
      margin-top: auto;
      position: relative;

      .image {
        width: 100%;
        display: block;
        background-color: var(--dark-rgba-20);
        aspect-ratio: 1 / 1;

        @include mixins.breakpoint-up(lg) {
          aspect-ratio: 14 / 9;
        }
      }

      &::after {
        content: '';
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        inset: 0;

        @media (hover: hover) {
          background-color: var(--primary-rgba-80);
          opacity: 0;

          transition-property: opacity;
          transition-duration: var(--transition-duration);
          transition-timing-function: var(--transition-timing-function);
        }
      }
    }

    &-btn {
      --_fs: .9375rem;
      --_fw: 800;
      --_color: var(--light);
      --_padding: 2rem 1.5rem;
      --_icon-size: .75rem;

      text-transform: uppercase;
      pointer-events: none;
      user-select: none;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

      @media (hover: hover) {
        opacity: 0;
      }
    }

    .stretched-link {
      z-index: 10;

      @media (hover: hover) {

        &:hover {

          ~ .all-services-card-picture {

            .all-services-card-btn,
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
