<section class="advantage">
  <div class="lines lines-inline">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <div class="section-header">
      <h2 class="section-title">
        экономим вам до 30% затрат, за счет собственного производства
        полного цикла
      </h2>
      <p class="section-subtitle">
        У нас свой проектно-конструкторский, производственный и
        монтажный
        <br />
        отдел, поэтому вы не переплачиваете сторонним подрядчикам
      </p>
    </div>
    <div class="advantage-list"
      data-collapse="">
      <button type="button" class="btn advantage-item collapse-button"
        data-collapse-button="">
        <div class="collapse-body">
          <div>
            <picture>
              <source srcset="./img/advantage/image-1.webp" type="image/webp">
              <img loading="lazy" src="./img/advantage/image-1.jpg" class="advantage-image" width="499" height="340" alt="Картинка">
            </picture>
          </div>
        </div>
        <div class="advantage-item-title">
          Разработка
          <span class="icon collapse-button-icon">
            <svg>
              <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
            </svg>
          </span>
        </div>
        <div class="collapse-body">
          <div>
            <p class="desc">
              На этапе проектирования вы уже увидите, как будет выглядеть
              ваш проект. Конструкторы определяют характеристики и
              параметры вашего проекта, разрабатываю егов системе
              трёхмерного проектирования
            </p>
          </div>
        </div>
      </button>
      <button type="button" class="btn advantage-item collapse-button"
        data-collapse-button="">
        <div class="collapse-body">
          <div>
            <picture>
              <source srcset="./img/advantage/image-2.webp" type="image/webp">
              <img loading="lazy" src="./img/advantage/image-2.jpg" class="advantage-image" width="499" height="340" alt="Картинка">
            </picture>
          </div>
        </div>
        <div class="advantage-item-title">
          Производство
          <span class="icon collapse-button-icon">
            <svg>
              <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
            </svg>
          </span>
        </div>
        <div class="collapse-body">
          <div>
            <p class="desc">
              Более 50 видов профессионального и промышленного
              оборудования, постоянное наличие основных расходных
              материалов, квалифицированная команда и современная система
              управления проектами, все это позволяет выполнять 80%
              заказов раньше оговоренного <br />
              срока
            </p>
          </div>
        </div>
      </button>
      <button type="button" class="btn advantage-item collapse-button"
        data-collapse-button="">
        <div class="collapse-body">
          <div>
            <picture>
              <source srcset="./img/advantage/image-3.webp" type="image/webp">
              <img loading="lazy" src="./img/advantage/image-3.jpg" class="advantage-image" width="499" height="340" alt="Картинка">
            </picture>
          </div>
        </div>
        <div class="advantage-item-title">
          Монтаж
          <span class="icon collapse-button-icon">
            <svg>
              <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
            </svg>
          </span>
        </div>
        <div class="collapse-body">
          <div>
            <p class="desc">
              Опытные сборщики и монтажники произведут весь комплекс работ
              с соблюдением чек- листов контроля качества. Руководитель
              производства лично проверяет качество монтажа и
              геометрические размеры всех элементов проекта.
            </p>
          </div>
        </div>
      </button>
    </div>
  </div>
</section>
