<section class="breadcrumb">
  <div class="lines @class">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <nav class="breadcrumb-nav">
      <ul class="list-reset breadcrumb-list">
        <li class="breadcrumb-item">
          <a href="#" class="btn breadcrumb-item-link">
            Главная
          </a>
        </li>
        <li class="breadcrumb-item">
          <span>
            Услуги
          </span>
        </li>
      </ul>
    </nav>
  </div>
</section>
