<section class="join-team">
  <div class="lines">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <div class="section-header">
      <h2 class="section-title">
        Присоединяйся
        <br>
        к команде
      </h2>
    </div>

    <form class="form">
      <div class="form-textarea">
        <textarea name="message" placeholder="Расскажи пару слов о себе"></textarea>
      </div>

      <div class="form-main">
        <div class="form-body">
          <input type="text" placeholder="Имя" />
          <input type="tel" placeholder="Телефон" />
        </div>
        <div class="form-footer">
          <a href="#" class="btn btn-download form-download">
            Загрузить файл
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/download.svg#svg-download"></use>
              </svg>
            </span>
          </a>
          <button class="btn btn-xl btn-outline-primary form-submit">
            Отправить
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
