<section class="news">
  <div class="lines lines-inline">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <div class="section-header">
      <h2 class="section-title">
        Блог и новости <br />
        компании
      </h2>
    </div>
    <div class="news-list"
      data-collapse="">
      <article class="news-item collapse-button"
        data-collapse-button="">
        <div class="collapse-body">
          <div>
            <div class="news-item-top">
              <h3 class="news-item-title">Частые вопросы</h3>

              <picture>
                <source srcset="./img/news/image-1.webp" type="image/webp">
                <img loading="lazy" src="./img/news/image-1.jpg" class="image" width="280" height="160" alt="Картинка">
              </picture>
            </div>
          </div>
        </div>
        <p class="desc">
          13.08.21
        </p>
        <h4 class="news-item-desc">
          Июль 2021 года стал самым жарким месяцем за всю историю
          метеонаблюдений
        </h4>
        <div class="news-item-bottom">
          <a href="#" class="btn news-item-link">
            Читать
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
              </svg>
            </span>
          </a>
        </div>
      </article>
      <article class="news-item collapse-button"
        data-collapse-button="">
        <div class="collapse-body">
          <div>
            <div class="news-item-top">
              <h3 class="news-item-title">Частые вопросы</h3>

              <picture>
                <source srcset="./img/news/image-2.webp" type="image/webp">
                <img loading="lazy" src="./img/news/image-2.jpg" class="image" width="280" height="160" alt="Картинка">
              </picture>
            </div>
          </div>
        </div>
        <p class="desc">
          13.08.21
        </p>
        <h4 class="news-item-desc">
          В ВОЗ оценили идею обязательной вакцинации
        </h4>
        <div class="news-item-bottom">
          <a href="#" class="btn news-item-link">
            Читать
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
              </svg>
            </span>
          </a>
        </div>
      </article>
      <article class="news-item collapse-button"
        data-collapse-button="">
        <div class="collapse-body">
          <div>
            <div class="news-item-top">
              <h3 class="news-item-title">Частые вопросы</h3>

              <picture>
                <source srcset="./img/news/image-3.webp" type="image/webp">
                <img loading="lazy" src="./img/news/image-3.jpg" class="image" width="280" height="160" alt="Картинка">
              </picture>
            </div>
          </div>
        </div>
        <p class="desc">
          13.08.21
        </p>
        <h4 class="news-item-desc">
          НАСА опровергло причастность астронавтов из США к появлению дыры в «Союзе МС-09»
        </h4>
        <div class="news-item-bottom">
          <a href="#" class="btn news-item-link">
            Читать
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
              </svg>
            </span>
          </a>
        </div>
      </article>
      <article class="news-item collapse-button"
        data-collapse-button="">
        <div class="collapse-body">
          <div>
            <div class="news-item-top">
              <h3 class="news-item-title">Частые вопросы</h3>

              <picture>
                <source srcset="./img/news/image-4.webp" type="image/webp">
                <img loading="lazy" src="./img/news/image-4.jpg" class="image" width="280" height="160" alt="Картинка">
              </picture>
            </div>
          </div>
        </div>
        <p class="desc">
          13.08.21
        </p>
        <h4 class="news-item-desc">
          В ВОЗ оценили идею обязательной вакцинации
        </h4>
        <div class="news-item-bottom">
          <a href="#" class="btn news-item-link">
            Читать
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
              </svg>
            </span>
          </a>
        </div>
      </article>
      <article class="news-item collapse-button"
        data-collapse-button="">
        <div class="collapse-body">
          <div>
            <div class="news-item-top">
              <h3 class="news-item-title">Частые вопросы</h3>

              <picture>
                <source srcset="./img/news/image-5.webp" type="image/webp">
                <img loading="lazy" src="./img/news/image-5.jpg" class="image" width="280" height="160" alt="Картинка">
              </picture>
            </div>
          </div>
        </div>
        <p class="desc">
          13.08.21
        </p>
        <h4 class="news-item-desc">
          В ВОЗ оценили идею обязательной вакцинации
        </h4>
        <div class="news-item-bottom">
          <a href="#" class="btn news-item-link">
            Читать
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
              </svg>
            </span>
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
