<section class="order">
  <div class="lines lines-3-invisible">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <div class="order-body">
      <div class="order-top">
        <div class="section-header">
          <h2 class="section-title">
            Узнайте точную стоимость и сроки вашего проекта
          </h2>
          <p class="section-subtitle">
            Инженер-технолог ответит на ваши вопросы, а также:
          </p>
        </div>

        <div class="order-top-picture"
          data-transfer-target="order-picture"></div>

        <ul class="list-reset">
          <li>
            Подскажет по выбору материалов
          </li>
          <li>
            Подберет лучшую технологию производства
          </li>
          <li>
            Поможет в составлении ТЗ
          </li>
          <li>
            Пришлет чек-лист: «Как выбрать подрядчика и не пожалеть о выборе»
          </li>
        </ul>
      </div>
      <div class="order-picture">
        <div class="order-picture-content"
          data-transfer-origin="order-picture"
          data-transfer-breakpoint="991.98">
          <picture>
            <source
              srcset="./img/order/image-1--mobile.webp"
              type="image/webp"
              media="(max-width: 991.98px)">
            <source
              srcset="./img/order/image-1--mobile.jpg"
              type="image/jpeg"
              media="(max-width: 991.98px)">

            <source srcset="./img/order/image-1.webp" type="image/webp">
            <img loading="lazy" src="./img/order/image-1.jpg" class="image" width="358" height="513" alt="Картинка">
          </picture>
          <p class="order-picture-name">Александра</p>
        </div>
      </div>
      <form class="order-form">
        <h3 class="section-title">
          ОСТАВЬТЕ ЗАЯВКУ НА РАСЧЕТ
        </h3>

        <input type="text" placeholder="Имя" />
        <input type="tel" placeholder="Телефон" />
        <a href="#" class="btn btn-download order-form-download">
          Загрузить файл
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/download.svg#svg-download"></use>
            </svg>
          </span>
        </a>
        <button class="btn btn-xl btn-outline-primary order-form-submit">
          Получить
        </button>
        <div class="order-form-contact">
          Напишите нам:
          <a href="#">
            <picture>
              <source srcset="./img/order/telegram.webp" type="image/webp">
              <img loading="lazy" src="./img/order/telegram.png" class="image" width="32" height="32" alt="Telegram">
            </picture>
          </a>
          <a href="#">
            <picture>
              <source srcset="./img/order/whatsapp.webp" type="image/webp">
              <img loading="lazy" src="./img/order/whatsapp.png" class="image" width="32" height="32" alt="Whatsapp">
            </picture>
          </a>
        </div>
        <div class="order-form-contact">
          Или позвоните:
          <a href="#">+7 (499) 350-73-79</a>
        </div>
      </form>
      <div class="order-logo">
        <picture>
          <source srcset="./img/order/logo.webp" type="image/webp">
          <img loading="lazy" src="./img/order/logo.png" class="image" width="161" height="656" alt="Element">
        </picture>
      </div>
    </div>
  </div>
</section>
