<section class="portfolio">
  <span class="section-background portfolio-bg" style="background-image: url(./img/portfolio/bg.webp);"></span>
  <div class="lines">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">
        Посмотрите примеры выполненных работ
      </h2>
      <p class="section-subtitle">
        Работая с нами вы будете спокойны за качество и результат Вашего проекта!
      </p>
    </div>

    <div class="portfolio-swiper">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="portfolio-card">
              <a href="#" class="stretched-link"></a>

              <picture>
                <source srcset="./img/portfolio/image-1.webp" type="image/webp">
                <img loading="lazy" src="./img/portfolio/image-1.jpg" class="image" width="" height="" alt="">
              </picture>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="portfolio-card">
              <a href="#" class="stretched-link"></a>

              <picture>
                <source srcset="./img/portfolio/image-2.webp" type="image/webp">
                <img loading="lazy" src="./img/portfolio/image-2.jpg" class="image" width="" height="" alt="">
              </picture>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="portfolio-card">
              <a href="#" class="stretched-link"></a>

              <picture>
                <source srcset="./img/portfolio/image-3.webp" type="image/webp">
                <img loading="lazy" src="./img/portfolio/image-3.jpg" class="image" width="" height="" alt="">
              </picture>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="portfolio-card">
              <a href="#" class="stretched-link"></a>

              <picture>
                <source srcset="./img/portfolio/image-4.webp" type="image/webp">
                <img loading="lazy" src="./img/portfolio/image-4.jpg" class="image" width="" height="" alt="">
              </picture>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="portfolio-card">
              <a href="#" class="stretched-link"></a>

              <picture>
                <source srcset="./img/portfolio/image-5.webp" type="image/webp">
                <img loading="lazy" src="./img/portfolio/image-5.jpg" class="image" width="" height="" alt="">
              </picture>
            </article>
          </div>
        </div>
      </div>

      <div class="swiper-navigation">
        <div class="swiper-button-prev">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
            </svg>
          </span>
        </div>
        <span class="swiper-navigation-spacer"></span>
        <div class="swiper-button-next">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
            </svg>
          </span>
        </div>
      </div>
    </div>

    <a href="#" class="btn btn-xl btn-outline-primary portfolio-btn">Все портфолио</a>
  </div>
</section>
