<section class="presentation">
  <span class="section-background presentation-bg" style="background-image: url(./img/presentation/bg.webp);"></span>

  <div class="lines">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <div class="presentation-body">
      <div class="section-header">
        <h2 class="section-title">Скачайте презентацию о компании и узнайте, чем еще мы можем быть вам
            полезны.
        </h2>
      </div>
      <form class="presentation-form">
        <input type="text" placeholder="Имя">
        <input type="tel" placeholder="Телефон">
        <input type="email" placeholder="e-mail">
        <button type="submit" class="btn btn-xl btn-outline-light">
          Скачать
        </button>
      </form>
    </div>
  </div>
</section>
