<section class="quality">
  <span class="section-background quality-bg" style="background-image: url(./img/quality/bg.webp);"></span>

  <div class="lines">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">
        нас выбирают за качество, скорость и лучший сервис
      </h2>
      <p class="section-subtitle">
        Это основные причины, но есть и другие
      </p>
    </div>
    <div class="quality-items"
      data-collapse="">
      <button type="button" class="btn quality-item collapse-button"
        data-collapse-button="">
        <div class="quality-top">
          <div class="number">01</div>
          <div class="quality-title">Даем лучшие цены на рынке</div>
        </div>
        <div class="collapse-body">
          <div>
            <p class="desc">
              Мы приступаем к работе над проектом в течение часа после
              утверждения ТЗ. Производственные мощности и наличие на
              складе основных расходных материалов, позволяют
              изготавливать срочные заказа день в день.
            </p>
          </div>
        </div>
      </button>
      <button type="button" class="btn quality-item collapse-button"
        data-collapse-button="">
        <div class="quality-top">
          <div class="number">02</div>
          <div class="quality-title">Выполняем заказы за 1 день</div>
        </div>
        <div class="collapse-body">
          <div>
            <p class="desc">
              Мы приступаем к работе над проектом в течение часа после
              утверждения ТЗ. Производственные мощности и наличие на
              складе основных расходных материалов, позволяют
              изготавливать срочные заказа день в день.
            </p>
          </div>
        </div>
      </button>
      <button type="button" class="btn quality-item collapse-button"
        data-collapse-button="">
        <div class="quality-top">
          <div class="number">03</div>
          <div class="quality-title">
            Предоставляем реальные гарантии
          </div>
        </div>
        <div class="collapse-body">
          <div>
            <p class="desc">
              Мы приступаем к работе над проектом в течение часа после
              утверждения ТЗ. Производственные мощности и наличие на
              складе основных расходных материалов, позволяют
              изготавливать срочные заказа день в день.
            </p>
          </div>
        </div>
      </button>
      <button type="button" class="btn quality-item collapse-button"
        data-collapse-button="">
        <div class="quality-top">
          <div class="number">04</div>
          <div class="quality-title">Сделаем 3D-модель за Вас</div>
        </div>
        <div class="collapse-body">
          <div>
            <p class="desc">
              Мы приступаем к работе над проектом в течение часа после
              утверждения ТЗ. Производственные мощности и наличие на
              складе основных расходных материалов, позволяют
              изготавливать срочные заказа день в день.
            </p>
          </div>
        </div>
      </button>
      <button type="button" class="btn quality-item collapse-button"
        data-collapse-button="">
        <div class="quality-top">
          <div class="number">05</div>
          <div class="quality-title">
            Осуществляем тройной контроль
          </div>
        </div>
        <div class="collapse-body">
          <div>
            <p class="desc">
              Мы приступаем к работе над проектом в течение часа после
              утверждения ТЗ. Производственные мощности и наличие на
              складе основных расходных материалов, позволяют
              изготавливать срочные заказа день в день.
            </p>
          </div>
        </div>
      </button>
      <button type="button" class="btn quality-item collapse-button"
        data-collapse-button="">
        <div class="quality-top">
          <div class="number">06</div>
          <div class="quality-title">
            Делаем отчеты и быстро отвечаем
          </div>
        </div>
        <div class="collapse-body">
          <div>
            <p class="desc">
              Мы приступаем к работе над проектом в течение часа после
              утверждения ТЗ. Производственные мощности и наличие на
              складе основных расходных материалов, позволяют
              изготавливать срочные заказа день в день.
            </p>
          </div>
        </div>
      </button>
    </div>
  </div>
</section>
