<section class="review">
  <div class="lines lines-inline">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <div class="review-start"
      data-transfer-target="review-swiper-2">
      <div class="section-header">
        <h2 class="section-title">
          Доверие клиентов и репутация — то, чем мы действительно
          дорожим!
        </h2>
        <p class="section-subtitle">
          Мы одна из немногих компаний, которая имеет более 150 реальных
          оценок на «Яндексе» с оценкой 5,0
        </p>

        <div>
          <a href="#" class="btn btn-xl btn-outline-dark review-more"
            data-transfer-origin="review-more"
            data-transfer-breakpoint="991.98">
            Все отзывы
          </a>
        </div>
      </div>

      <div class="review-swiper">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"
              data-fancybox="review-swiper"
              data-src="./img/review/image-1.webp">
              <picture>
                <source srcset="./img/review/image-1.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-1.jpg" class="image" width="193" height="265" alt="Документ">
              </picture>
            </div>
            <div class="swiper-slide"
              data-fancybox="review-swiper"
              data-src="./img/review/image-1.webp">
              <picture>
                <source srcset="./img/review/image-2.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-2.jpg" class="image" width="193" height="265" alt="Документ">
              </picture>
            </div>
            <div class="swiper-slide"
              data-fancybox="review-swiper"
              data-src="./img/review/image-1.webp">
              <picture>
                <source srcset="./img/review/image-3.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-3.jpg" class="image" width="193" height="265" alt="Документ">
              </picture>
            </div>
            <div class="swiper-slide"
              data-fancybox="review-swiper"
              data-src="./img/review/image-1.webp">
              <picture>
                <source srcset="./img/review/image-4.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-4.jpg" class="image" width="193" height="265" alt="Документ">
              </picture>
            </div>
            <div class="swiper-slide"
              data-fancybox="review-swiper"
              data-src="./img/review/image-1.webp">
              <picture>
                <source srcset="./img/review/image-1.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-1.jpg" class="image" width="193" height="265" alt="Документ">
              </picture>
            </div>
            <div class="swiper-slide"
              data-fancybox="review-swiper"
              data-src="./img/review/image-1.webp">
              <picture>
                <source srcset="./img/review/image-2.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-2.jpg" class="image" width="193" height="265" alt="Документ">
              </picture>
            </div>
            <div class="swiper-slide"
              data-fancybox="review-swiper"
              data-src="./img/review/image-1.webp">
              <picture>
                <source srcset="./img/review/image-3.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-3.jpg" class="image" width="193" height="265" alt="Документ">
              </picture>
            </div>
            <div class="swiper-slide"
              data-fancybox="review-swiper"
              data-src="./img/review/image-1.webp">
              <picture>
                <source srcset="./img/review/image-4.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-4.jpg" class="image" width="193" height="265" alt="Документ">
              </picture>
            </div>
          </div>
        </div>

        <div class="swiper-navigation">
          <div class="swiper-button-prev">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
              </svg>
            </span>
          </div>
          <span class="swiper-navigation-spacer"></span>
          <div class="swiper-button-next">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="review-end">
      <div class="review-swiper-2"
        data-transfer-origin="review-swiper-2"
        data-transfer-breakpoint="991.98"
        data-transfer-placement="last">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-5.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-5.png" class="image" width="160" height="118" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-6.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-6.png" class="image" width="160" height="93" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-7.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-7.png" class="image" width="160" height="108" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-8.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-8.png" class="image" width="160" height="122" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-9.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-9.png" class="image" width="160" height="108" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-10.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-10.png" class="image" width="160" height="82" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-11.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-11.png" class="image" width="160" height="108" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-5.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-5.png" class="image" width="160" height="118" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-6.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-6.png" class="image" width="160" height="93" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-7.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-7.png" class="image" width="160" height="108" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-8.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-8.png" class="image" width="160" height="122" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-9.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-9.png" class="image" width="160" height="108" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-10.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-10.png" class="image" width="160" height="82" alt="Партнер">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/review/image-11.webp" type="image/webp">
                <img loading="lazy" src="./img/review/image-11.png" class="image" width="160" height="108" alt="Партнер">
              </picture>
            </div>
          </div>
        </div>

        <div class="swiper-navigation">
          <div class="swiper-button-prev">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
              </svg>
            </span>
          </div>
          <span class="swiper-navigation-spacer"></span>
          <div class="swiper-button-next">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="review-bottom"
      data-transfer-target="review-more"></div>
  </div>
</section>
