<section class="service-help">
  <span class="service-help-bg" style="background-image: url(./img/service/@image-desktop.webp);"></span>

  <div class="lines lines-inline">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <div class="service-help-start">
      <span class="service-help-bg" style="background-image: url(./img/service/@image-mobile.webp);"></span>

      <div class="section-header">
        <h2 class="section-title">
          @title
        </h2>
        <p class="section-subtitle">
          @subtitle
        </p>
      </div>
    </div>

    <div class="service-help-end">
      <button type="button" class="btn service-help-button">
        <span class="service-help-button-title">01</span>
        <span class="service-help-button-subtitle">@items.item-1</span>
      </button>
      <button type="button" class="btn service-help-button">
        <span class="service-help-button-title">02</span>
        <span class="service-help-button-subtitle">@items.item-2</span>
      </button>
      <button type="button" class="btn service-help-button">
        <span class="service-help-button-title">03</span>
        <span class="service-help-button-subtitle">@items.item-3</span>
      </button>
      <button type="button" class="btn service-help-button">
        <span class="service-help-button-title">04</span>
        <span class="service-help-button-subtitle">@items.item-4</span>
      </button>
      <button type="button" class="btn service-help-button">
        <span class="service-help-button-title">05</span>
        <span class="service-help-button-subtitle">@items.item-5</span>
      </button>
      <button type="button" class="btn service-help-button">
        <span class="service-help-button-title">06</span>
        <span class="service-help-button-subtitle">@items.item-6</span>
      </button>
      <button type="button" class="btn service-help-button">
        <span class="service-help-button-title">07</span>
        <span class="service-help-button-subtitle">@items.item-7</span>
      </button>
      <button type="button" class="btn service-help-button">
        <span class="service-help-button-title">08</span>
        <span class="service-help-button-subtitle">@items.item-8</span>
      </button>

      <div class="service-help-bottom">
        <button type="button" class="btn btn-xl btn-outline-primary">
          Решить свою задачу
        </button>
      </div>
    </div>
  </div>
</section>
