<section class="service-warranty">
  <div class="lines">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <div class="section-header">
      <h2 class="section-title">
        все гарантии закрепляем в договоре и несем полную ответственность
      </h2>
      <p class="section-subtitle">
        Мы уверены в своей работе, благодаря крутой команде, собственному парку профессионального
        оборудования, отлаженной работе и нашему опыту.
      </p>
    </div>

    <div class="service-warranty-body">
      <picture class="service-warranty-picture">
        <source srcset="./img/service/warranty.webp" type="image/webp">
        <img loading="lazy" src="./img/service/warranty.png" class="image" width="721" height="584" alt="Картинка">
      </picture>

      <ul class="list-reset service-warranty-list">
        <li class="service-warranty-item">
          <h3>
            ГАРАНТИЯ <br> СРОКОВ
          </h3>
          <p class="desc">
            В случае просрочки сдачи проекта по нашей вине, мы вернем вам до 20% от суммы заказа
          </p>
        </li>
        <li class="service-warranty-item">
          <h3>
            ГАРАНТИЯ <br> КАЧЕСТВА
          </h3>
          <p class="desc">
            В случае если изделие не будет соответствовать ТЗ, мы устраним все дефекты или сделаем новое, за свой счёт.
          </p>
        </li>
        <li class="service-warranty-item">
          <h3>
            ГАРАНТИЯ <br> СТОИМОСТИ
          </h3>
          <p class="desc">
            Стоимость фиксируем в договоре и не увеличиваем в процессе работы. Все непредусмотренные расходы компенсируем за свой счет
          </p>
        </li>
        <li class="service-warranty-item">
          <h3>
            ГАРАНТИЯ <br> КОНФЕДЕНЦИАЛЬНОСТИ
          </h3>
          <p class="desc">
            Подпишем вашу форму NDA. Не передаем информацию о вас третьим лицам, сохраняем коммерческую тайну в документации и переговорах.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
