<section class="service-items">
  <div class="lines">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <div class="section-header">
      <h2 class="section-title">
        @title
      </h2>
    </div>

    <div class="service-items-list"
      data-collapse="">
      @loop('../cards/service-items.html', [
        {
          "image": "casting-item-1",
          "title": "Твердые и ударопрочные пластики",
          "desc": "Данные материалы представляют из себя универсальные полиуретановые эластомеры, которые применяются для производства широкого спектра резино-имитирующих изделий литьевым методом.",
        },
        {
          "image": "casting-item-2",
          "title": "Гибкие и резиноподобные пластики",
          "desc": "Данные материалы представляют из себя универсальные полиуретановые эластомеры, которые применяются для производства широкого спектра резино-имитирующих изделий литьевым методом.",
        },
        {
          "image": "casting-item-3",
          "title": "Прозрачные пластики",
          "desc": "Данные материалы представляют из себя универсальные полиуретановые эластомеры, которые применяются для производства широкого спектра резино-имитирующих изделий литьевым методом.",
        },
        {
          "image": "casting-item-4",
          "title": "Термостойкие пластики",
          "desc": "Данные материалы представляют из себя универсальные полиуретановые эластомеры, которые применяются для производства широкого спектра резино-имитирующих изделий литьевым методом.",
        },
        {
          "image": "casting-item-5",
          "title": "Другие",
          "desc": "Данные материалы представляют из себя универсальные полиуретановые эластомеры, которые применяются для производства широкого спектра резино-имитирующих изделий литьевым методом.",
        },
      ])
    </div>
  </div>
</section>
