<section class="service-control">
  <div class="lines lines-inline">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container desktop">
    <div class="section-header"
      data-transfer-origin="service-control-header"
      data-transfer-breakpoint="991.98"
      data-transfer-placement="first">
      <h2 class="section-title">
        КОНТРОЛИРУЕМ ВАШ ПРОЕКТ НА КАЖДОМ ЭТАПЕ
      </h2>

      <p class="section-subtitle">
        На нашем про-ве внедрен тройной контроль качества, где ОТК контролирует качество вашего проекта на каждом этапе
      </p>
    </div>

    <div class="tab">
      <div class="tab-nav-header">
        <ul class="list-reset tab-nav scrollable-x" role="tablist">
          <li class="tab-nav-item" role="presentation">
            <button type="button" role="tab" class="btn tab-nav-link active"
              id="tab-control-1"
              data-bs-toggle="tab"
              data-bs-target="#pane-control-1"
              aria-controls="pane-control-1"
              aria-selected="true">
              Входной контроль
            </button>
          </li>
          <li class="tab-nav-item" role="presentation">
            <button type="button" role="tab" class="btn tab-nav-link"
              id="tab-control-2"
              data-bs-toggle="tab"
              data-bs-target="#pane-control-2"
              aria-controls="pane-control-2"
              aria-selected="false">
              Контроль производство
            </button>
          </li>
          <li class="tab-nav-item" role="presentation">
            <button type="button" role="tab" class="btn tab-nav-link"
              id="tab-control-3"
              data-bs-toggle="tab"
              data-bs-target="#pane-control-3"
              aria-controls="pane-control-3"
              aria-selected="false">
              Контроль качества
            </button>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active"
          id="pane-control-1"
          aria-labelledby="tab-control-1">
          <div class="tab-body"
            data-transfer-origin="tab-control-1"
            data-transfer-breakpoint="991.98">
            <div class="tab-body-start">
              <div class="tab-body-header">
                <p>
                  Перед запуском проекта в работу специалисты проверяют 3D-модели на целостность и их готовность к нужному этапу производства. На этапе подготовки к производству происходит проверка качества сырья и вспомогательных материалов. Постоянный анализ и контроль поставляемого сырья и материалов позволяет влиять на производство предприятий-поставщиков, добиваясь повышения качества расходных материалов.
                </p>
              </div>
            </div>
            <div class="tab-body-end">
              <picture>
                <source srcset="./img/service/tab-control-1.webp" type="image/webp">
                <img loading="lazy" src="./img/service/tab-control-1.png" class="image" width="884" height="640"
                  alt="Картинка">
              </picture>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade"
          id="pane-control-2"
          aria-labelledby="tab-control-2">
          <div class="tab-body"
            data-transfer-origin="tab-control-2"
            data-transfer-breakpoint="991.98">
            <div class="tab-body-start">
              <div class="tab-body-header">
                <p>
                  Перед запуском проекта в работу специалисты проверяют 3D-модели на целостность и их готовность к нужному этапу производства. На этапе подготовки к производству происходит проверка качества сырья и вспомогательных материалов. Постоянный анализ и контроль поставляемого сырья и материалов позволяет влиять на производство предприятий-поставщиков, добиваясь повышения качества расходных материалов.
                </p>
              </div>
            </div>
            <div class="tab-body-end">
              <picture>
                <source srcset="./img/service/tab-control-1.webp" type="image/webp">
                <img loading="lazy" src="./img/service/tab-control-1.png" class="image" width="884" height="640"
                  alt="Картинка">
              </picture>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade"
          id="pane-control-3"
          aria-labelledby="tab-control-3">
          <div class="tab-body"
            data-transfer-origin="tab-control-3"
            data-transfer-breakpoint="991.98">
            <div class="tab-body-start">
              <div class="tab-body-header">
                <p>
                  Перед запуском проекта в работу специалисты проверяют 3D-модели на целостность и их готовность к нужному этапу производства. На этапе подготовки к производству происходит проверка качества сырья и вспомогательных материалов. Постоянный анализ и контроль поставляемого сырья и материалов позволяет влиять на производство предприятий-поставщиков, добиваясь повышения качества расходных материалов.
                </p>
              </div>
            </div>
            <div class="tab-body-end">
              <picture>
                <source srcset="./img/service/tab-control-1.webp" type="image/webp">
                <img loading="lazy" src="./img/service/tab-control-1.png" class="image" width="884" height="640"
                  alt="Картинка">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mobile"
    data-transfer-target="service-control-header">
    <div class="advantage-list"
      data-collapse="">
      <button type="button" class="btn advantage-item collapse-button"
        data-collapse-button="">
        <div class="advantage-item-title">
          Входной контроль
          <span class="icon collapse-button-icon">
            <svg>
              <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
            </svg>
          </span>
        </div>
        <div class="collapse-body">
          <div data-transfer-target="tab-control-1"></div>
        </div>
      </button>
      <button type="button" class="btn advantage-item collapse-button"
        data-collapse-button="">
        <div class="advantage-item-title">
          Контроль производство
          <span class="icon collapse-button-icon">
            <svg>
              <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
            </svg>
          </span>
        </div>
        <div class="collapse-body">
          <div data-transfer-target="tab-control-2"></div>
        </div>
      </button>
      <button type="button" class="btn advantage-item collapse-button"
        data-collapse-button="">
        <div class="advantage-item-title">
          Контроль качества
          <span class="icon collapse-button-icon">
            <svg>
              <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
            </svg>
          </span>
        </div>
        <div class="collapse-body">
          <div data-transfer-target="tab-control-3"></div>
        </div>
      </button>
    </div>
  </div>
</section>
