<footer class="footer">
  <div class="lines">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <div class="footer-top">
      <div class="footer-group">
        <div class="footer-title">компания</div>
        <a href="#" class="btn footer-group-link">О нас</a>
        <a href="#" class="btn footer-group-link">Отзывы</a>
        <a href="#" class="btn footer-group-link">Работа у нас</a>
        <a href="#" class="btn footer-group-link">FAQ</a>
        <a href="#" class="btn footer-group-link">Оплата и доставка</a>
      </div>

      <div class="footer-group">
        <div class="footer-title">Услуги</div>
        <a href="#" class="btn footer-group-link">3D-печать</a>
        <a href="#" class="btn footer-group-link">3D-моделирование</a>
        <a href="#" class="btn footer-group-link">3D-сканирование</a>
        <a href="#" class="btn footer-group-link">3D-контроль геометрии</a>
        <a href="#" class="btn footer-group-link">3D-визуализация</a>
        <a href="#" class="btn footer-group-link">Реверс-инжиниринг</a>
        <a href="#" class="btn footer-group-link">Лазерная резка</a>
        <a href="#" class="btn footer-group-link">ЧПУ фрезеровка</a>
        <a href="#" class="btn footer-group-link">3D-фрезеровка</a>
        <a href="#" class="btn footer-group-link">Гравировка</a>
        <a href="#" class="btn footer-group-link">
          Вакуумное литье в <br />
          силиконовые формы
        </a>
        <a href="#" class="btn footer-group-link">Литье под давлением (ТПА)</a>
        <a href="#" class="btn footer-group-link">RIM литье</a>
        <a href="#" class="btn footer-group-link">
          Изготовление силиконовых <br />
          форм
        </a>
      </div>

      <div class="footer-group">
        <div class="footer-title">Комплексные решения</div>
        <a href="#" class="btn footer-group-link">
          Изготовление макетов
        </a>
        <a href="#" class="btn footer-group-link">
          Производство <br />
          изделий из пластика
        </a>
        <a href="#" class="btn footer-group-link">
          Прототипирование <br />
          изделий
        </a>
        <a href="#" class="btn footer-group-link">
          Разработка и изготовление <br />
          корпусов
        </a>
        <a href="#" class="btn footer-group-link">
          Производство <br />
          мастер-моделей
        </a>
        <a href="#" class="btn footer-group-link">
          Производство сувенирных <br />
          изделий
        </a>
        <a href="#" class="btn footer-group-link">
          Постобработка и <br />
          покраска
        </a>
        <a href="#" class="btn footer-group-link">Вакуумная формовка</a>
        <a href="#" class="btn footer-group-link">Промышленный дизайн</a>
        <a href="#" class="btn footer-group-link">Контрактное производство</a>
        <a href="#" class="btn footer-group-link">Импортозамещение</a>
      </div>

      <div class="footer-group">
        <div class="footer-title">Материалы и технологии</div>
        <a href="#" class="btn footer-group-link">Портфолио</a>
        <a href="#" class="btn footer-group-link">Акции</a>
        <a href="#" class="btn footer-group-link">Блог</a>
      </div>

      <div class="footer-group">
        <a href="#" class="btn brand">
          <div class="brand-pictures">
            <picture>
              <source srcset="./img/logo.webp" type="image/webp">
              <img loading="lazy" src="./img/logo.png" class="brand-logo" width="145" height="38" alt="Element">
            </picture>
            <picture>
              <source srcset="./img/logo-dark.webp" type="image/webp">
              <img loading="lazy" src="./img/logo-dark.png" class="brand-logo" width="145" height="38" alt="Element">
            </picture>
          </div>
          <p class="brand-text">
            Прототипирование и серийное производство изделий из пластика
          </p>
        </a>
        <div class="">
          <div class="footer-title">Контакты</div>
          <div class="footer-phones">
            <a href="tel:+78007776579" class="btn">+7 (800) 777-65-79</a>
            <a href="tel:+74993507379" class="btn">+7 (499) 350-73-79</a>
            <a href="mailto:info@3d-element.ru" class="btn">info@3d-element.ru</a>
          </div>
        </div>
        <div class="">
          <p class="footer-text">Написать в мессенджер</p>

          <ul class="list-reset socials-list">
            <li class="socials-list-item">
              <a href="#" target="_blank" class="btn socials-list-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
                  </svg>
                </span>
              </a>
            </li>
            <li class="socials-list-item">
              <a href="#" target="_blank" class="btn socials-list-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </div>

        <p class="footer-text footer-text-address">
          Адрес: г. Москва, Щербаковская <br />
          ул., 53, корп. 16 (НПП Сапфир)
        </p>

        <div class="">
          <div class="footer-title">Режим работы:</div>
          <p class="footer-text footer-text-address">
            Пн. - Пт. с 09:00 до 18:00 <br />
            Сб. - Вс. - выходной
          </p>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="footer-bottom-text">© 2020-2025 3D-ELEMENT</p>

      <a href="#" class="btn footer-bottom-link">
        Политика конфиденциальности
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="btn footer-bottom-link">
        Пользовательское соглашение
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="btn footer-bottom-link">
        Карта сайта
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/arrow-right-up.svg#svg-arrow-right-up"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>
</footer>
