<form class="form">
  <h3 class="section-title">
    @title
  </h3>

  <input type="text" placeholder="Имя" />
  <input type="tel" placeholder="Телефон" />
  <a href="#" class="btn btn-download form-download">
    Загрузить файл
    <span class="icon">
      <svg>
        <use xlink:href="img/icons/download.svg#svg-download"></use>
      </svg>
    </span>
  </a>
  <button class="btn btn-xl btn-outline-primary form-submit">
    @button
  </button>
  <div class="form-contact">
    Напишите нам:
    <a href="#">
      <picture>
        <source srcset="./img/order/telegram.webp" type="image/webp">
        <img loading="lazy" src="./img/order/telegram.png" class="image" width="32" height="32" alt="Telegram">
      </picture>
    </a>
    <a href="#">
      <picture>
        <source srcset="./img/order/whatsapp.webp" type="image/webp">
        <img loading="lazy" src="./img/order/whatsapp.png" class="image" width="32" height="32" alt="Whatsapp">
      </picture>
    </a>
  </div>
  <div class="form-contact">
    Или позвоните:
    <a href="#">+7 (499) 350-73-79</a>
  </div>
</form>
