<header class="header header--home">
  <div class="container">
    <a href="#" class="btn brand">
      <div class="brand-pictures">
        <picture>
          <source srcset="./img/logo.webp" type="image/webp">
          <img loading="lazy" src="./img/logo.png" class="brand-logo" width="145" height="38" alt="Element">
        </picture>
        <picture>
          <source srcset="./img/logo-dark.webp" type="image/webp">
          <img loading="lazy" src="./img/logo-dark.png" class="brand-logo" width="145" height="38" alt="Element">
        </picture>
      </div>
      <p class="brand-text">
        Прототипирование и серийное производство изделий из пластика
      </p>
    </a>
    <div class="header-main">
      <nav class="header-nav"
        data-transfer-origin="header-nav"
        data-transfer-breakpoint="1199.98">
        <ul class="list-reset header-nav-list">
          <li class="header-nav-item">
            <div class="dropdown dropdown--header dropdown--catalog">
              <button type="button" class="btn dropdown-toggle header-nav-link"
                data-bs-toggle="dropdown"
                data-bs-offset="0, 16"
                data-bs-hover=""
                data-bs-auto-close="outside">
                О компании

                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                  </svg>
                </span>
              </button>

              <div class="dropdown-menu">
                <div class="dropdown-menu-collapse">
                  <ul class="list-reset dropdown-list">
                    <li class="dropdown-list-item">
                      <button type="button" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-0">
                        3D-услуги

                        <span class="icon">
                          <svg>
                            <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                          </svg>
                        </span>
                      </button>
                    </li>
                    <li class="dropdown-list-item">
                      <button type="button" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-1">
                        ЧПУ услуги

                        <span class="icon">
                          <svg>
                            <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                          </svg>
                        </span>
                      </button>
                    </li>
                    <li class="dropdown-list-item">
                      <button type="button" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-2">
                        Услуги литья

                        <span class="icon">
                          <svg>
                            <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                          </svg>
                        </span>
                      </button>
                    </li>
                    <li class="dropdown-list-item">
                      <button type="button" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-3">
                        Комплексные услуги

                        <span class="icon">
                          <svg>
                            <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                          </svg>
                        </span>
                      </button>
                    </li>
                    <li class="dropdown-list-item">
                      <button type="button" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-4">
                        Другие услуги

                        <span class="icon">
                          <svg>
                            <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                          </svg>
                        </span>
                      </button>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item">
                        Все услуги
                      </a>
                    </li>
                  </ul>

                  <div class="dropdown-catalog-menu">
                    <div class="dropdown-catalog-menu-item"
                      data-catalog-menu-id="catalog-menu-0">
                      <button type="button" class="btn dropdown-catalog-menu-back"
                        data-catalog-menu-back="">
                        <span class="icon">
                          <svg>
                            <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                          </svg>
                        </span>

                        назад
                      </button>

                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-печать
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-сканирование
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-моделирование
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-визуализация
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-контроль геометрии
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            Реверс-инжиниринг
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="dropdown-catalog-menu-item"
                      data-catalog-menu-id="catalog-menu-1">
                      <button type="button" class="btn dropdown-catalog-menu-back"
                        data-catalog-menu-back="">
                        <span class="icon">
                          <svg>
                            <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                          </svg>
                        </span>

                        назад
                      </button>

                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-печать
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-сканирование
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="dropdown-catalog-menu-item"
                      data-catalog-menu-id="catalog-menu-2">
                      <button type="button" class="btn dropdown-catalog-menu-back"
                        data-catalog-menu-back="">
                        <span class="icon">
                          <svg>
                            <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                          </svg>
                        </span>

                        назад
                      </button>

                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-печать
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-сканирование
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="dropdown-catalog-menu-item"
                      data-catalog-menu-id="catalog-menu-3">
                      <button type="button" class="btn dropdown-catalog-menu-back"
                        data-catalog-menu-back="">
                        <span class="icon">
                          <svg>
                            <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                          </svg>
                        </span>

                        назад
                      </button>

                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-печать
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-сканирование
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="dropdown-catalog-menu-item"
                      data-catalog-menu-id="catalog-menu-4">
                      <button type="button" class="btn dropdown-catalog-menu-back"
                        data-catalog-menu-back="">
                        <span class="icon">
                          <svg>
                            <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                          </svg>
                        </span>

                        назад
                      </button>

                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-печать
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                      <ul class="list-reset dropdown-catalog-list">
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link-header">
                            3D-сканирование
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                        <li class="dropdown-catalog-item">
                          <a href="#" class="btn dropdown-catalog-link">
                            подстраница
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="header-nav-item">
            <div class="dropdown dropdown--header">
              <button type="button" class="btn dropdown-toggle header-nav-link"
                data-bs-toggle="dropdown"
                data-bs-offset="0, 16"
                data-bs-hover=""
                data-bs-auto-close="outside">
                Услуги

                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                  </svg>
                </span>
              </button>

              <div class="dropdown-menu">
                <div class="dropdown-menu-collapse">
                  <ul class="list-reset dropdown-list">
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-0">
                        3D-услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-1">
                        ЧПУ услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-2">
                        Услуги литья
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-3">
                        Комплексные услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-4">
                        Другие услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item">
                        Все услуги
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="header-nav-item">
            <a href="#" class="btn header-nav-link">
              Материалы и технологии
            </a>
          </li>
          <li class="header-nav-item">
            <div class="dropdown dropdown--header">
              <button type="button" class="btn dropdown-toggle header-nav-link"
                data-bs-toggle="dropdown"
                data-bs-offset="0, 16"
                data-bs-hover=""
                data-bs-auto-close="outside">
                Портфолио

                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                  </svg>
                </span>
              </button>

              <div class="dropdown-menu">
                <div class="dropdown-menu-collapse">
                  <ul class="list-reset dropdown-list">
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-0">
                        3D-услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-1">
                        ЧПУ услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-2">
                        Услуги литья
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-3">
                        Комплексные услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-4">
                        Другие услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item">
                        Все услуги
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="header-nav-item">
            <div class="dropdown dropdown--header">
              <button type="button" class="btn dropdown-toggle header-nav-link"
                data-bs-toggle="dropdown"
                data-bs-offset="0, 16"
                data-bs-hover=""
                data-bs-auto-close="outside">
                Спецпредложения

                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/arrow-down.svg#svg-arrow-down"></use>
                  </svg>
                </span>
              </button>

              <div class="dropdown-menu">
                <div class="dropdown-menu-collapse">
                  <ul class="list-reset dropdown-list">
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-0">
                        3D-услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-1">
                        ЧПУ услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-2">
                        Услуги литья
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-3">
                        Комплексные услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item"
                        data-catalog-menu-target="catalog-menu-4">
                        Другие услуги
                      </a>
                    </li>
                    <li class="dropdown-list-item">
                      <a href="#" class="btn dropdown-item">
                        Все услуги
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="header-nav-item">
            <a href="#" class="btn header-nav-link">
              Блог
            </a>
          </li>
          <li class="header-nav-item">
            <a href="#" class="btn header-nav-link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <div class="header-end">
        <ul class="list-reset contacts-list">
          <li class="contacts-list-item">
            <a href="tel:+74993507379" class="btn contacts-list-link contacts-list-link--phone">
              +7 (499) 350-73-79
            </a>
          </li>
          <li class="contacts-list-item">
            <a href="mailto:info@3d-element.ru" class="btn contacts-list-link">
              info@3d-element.ru
            </a>
          </li>
        </ul>

        <ul class="list-reset socials-list">
          <li class="socials-list-item">
            <a href="#" target="_blank" class="btn socials-list-link">
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
                </svg>
              </span>
            </a>
          </li>
          <li class="socials-list-item">
            <a href="#" target="_blank" class="btn socials-list-link">
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <button type="button" class="btn btn-menu"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvas-menu"
      aria-controls="Навигационное меню">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/menu.svg#svg-menu"></use>
        </svg>
      </span>
    </button>
  </div>
</header>
