<div role="dialog" class="modal fade" tabindex="-1"
  id="form-callback"
  aria-labelledby="form-callback-label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="form-callback-label">
          Введите данные для связи
        </h2>
        <p class="modal-subtitle">
          Мы свяжимся с Вами в течение 15 минути
          подробно ответим на все вопросы
        </p>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="form-body">
            <input type="text" placeholder="Имя" />
            <input type="tel" placeholder="Телефон" />
            <input type="text" placeholder="Примечание" />
            <a href="#" class="btn btn-download form-download">
              Загрузить файл
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/download.svg#svg-download"></use>
                </svg>
              </span>
            </a>
          </div>
          <div class="form-footer">
            <button class="btn btn-xl btn-outline-primary form-submit">
              Отправить
            </button>

            <p class="form-policy">
              Нажимая кнопку “Отправить” вы соглашаетесь с <a href="#" class="btn">политикой конфиденциальности</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
