<div class="offcanvas offcanvas-menu offcanvas-end" tabindex="-1" id="offcanvas-menu">
  <div class="offcanvas-header">
    <a href="#" class="btn brand">
      <picture>
        <source srcset="./img/logo-dark.webp" type="image/webp">
        <img loading="lazy" src="./img/logo-dark.png" class="brand-logo" width="145" height="38" alt="Element">
      </picture>
    </a>

    <button type="button" class="btn btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/close.svg#svg-close"></use>
				</svg>
			</span>
		</button>
  </div>
  <div class="offcanvas-body"
		data-transfer-target="header-nav">

  </div>

	<div class="offcanvas-footer">

	</div>
</div>

<div class="offcanvas offcanvas-filter offcanvas-end" tabindex="-1" id="offcanvas-filter">
  <div class="offcanvas-header"
    data-transfer-target="offcanvas-filter-header">

    <button type="button" class="btn btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/close.svg#svg-close"></use>
				</svg>
			</span>
		</button>
  </div>
  <div class="offcanvas-body"
		data-transfer-target="offcanvas-filter-body">

  </div>
</div>
